In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-Buildings\buildings.csv')

In [3]:
df.head(5)

,Census year,Block ID,Property ID,Base property ID,Building name,Street address,CLUE small area,Construction year,Refurbished year,Number of floors (above ground),Predominant space use,Accessibility type,Accessibility type description,Accessibility rating,Bicycle spaces,Has showers,x coordinate,y coordinate,Location
0,2002,858,106736,106736,NaN,26-30 Mona Place SOUTH YARRA 3141,South Yarra,NaN,NaN,3.0,Residential Apartment,NaN,NaN,NaN,NaN,NaN,144.9857,-37.8366,POINT (144.9857 -37.8366)
1,2003,11,103991,103991,NaN,520-522 Flinders Street MELBOURNE 3000,Melbourne (CBD),1910.0,NaN,2.0,Storage,NaN,NaN,NaN,NaN,NaN,144.9569,-37.8202,POINT (144.9569 -37.8202)
2,2003,16,104930,104930,MISTY,3-5 Hosier Lane MELBOURNE 3000,Melbourne (CBD),1880.0,NaN,3.0,Office,NaN,NaN,NaN,NaN,NaN,144.9690,-37.8165,POINT (144.969 -37.8165)
3,2003,23,108063,108063,FEDSDA HOUSE,53-57 Queen Street MELBOURNE 3000,Melbourne (CBD),1958.0,NaN,12.0,Office,NaN,NaN,NaN,NaN,NaN,144.9615,-37.8176,POINT (144.9615 -37.8176)
4,2003,35,105921,105921,NaN,271 Little Collins Street MELBOURNE 3000,Melbourne (CBD),1901.0,NaN,2.0,Retail - Shop,NaN,NaN,NaN,NaN,NaN,144.9655,-37.8149,POINT (144.9655 -37.8149)

In [4]:
df_new=df[df['Census year']==2020]

filter records of 2020

In [5]:
df_new_2020=df_new[['Block ID','Property ID','Predominant space use','x coordinate','y coordinate']]

select necessary columns

In [6]:
df_new_2020.head()

,Block ID,Property ID,Predominant space use,x coordinate,y coordinate
190399,370,592684,House/Townhouse,144.9510,-37.8013
190842,2531,615616,House/Townhouse,144.9335,-37.7891
191970,2532,615588,House/Townhouse,144.9337,-37.7898
192207,2518,614612,House/Townhouse,144.9281,-37.7917
192261,2528,615965,House/Townhouse,144.9299,-37.7888

In [7]:
df_new_2020['Predominant space use'].unique()

array(['House/Townhouse', 'Unoccupied - Unused', 'Residential Apartment',
       'Retail - Shop', 'Entertainment/Recreation - Indoor', 'Office',
       'Workshop/Studio', 'Educational/Research',
       'Performances, Conferences, Ceremonies',
       'Commercial Accommodation', 'Student Accommodation',
       'Equipment Installation', 'Storage', 'Hospital/Clinic',
       'Community Use', 'Parking - Private Covered', 'Retail - Showroom',
       'Wholesale', 'Public Display Area', 'Parking - Commercial Covered',
       'Unoccupied - Under Construction', 'Manufacturing',
       'Retail - Stall', 'Unoccupied - Under Renovation',
       'Institutional Accommodation',
       'Unoccupied - Under Demolition/Condemned', 'Retail - Cars',
       'Transport'], dtype=object)

Check unique vlaues in building types

## apartment type

In [32]:
df_houses=df_new_2020[df_new_2020['Predominant space use'].isin(['House/Townhouse', 'Residential Apartment','Student Accommodation','Commercial Accommodation','Institutional Accommodation'])]

select apartment types

In [34]:
df_houses.to_csv(r'C:\Melbourne_Escooter\Melbourne-Builings\houses.csv')

save apartment type records

## office type

In [36]:
df_office=df_new_2020[df_new_2020['Predominant space use'].isin(['Office'])]

In [37]:
df_office.to_csv(r'C:\Melbourne_Escooter\Melbourne-Builings\offices.csv')

## tram stops

In [8]:
import pandas as pd
import json

In [40]:
with open(r'C:\Melbourne_Escooter\Melbourne-transport\tram stops.json','r') as f:
    data = json.loads(f.read())

In [47]:
result=data['elements']

In [48]:
df=pd.DataFrame(result)

In [52]:
df.head()

,type,id,lat,lon,tags
0,node,122817630,-37.814613,144.946403,"{'name': 'Stop D1: Stadium Precinct', 'network..."
1,node,252587671,-37.824109,144.986794,"{'name': 'Stop 7D: AAMI Park', 'network': 'PTV..."
2,node,252588293,-37.818235,144.975980,"{'name': 'Stop 7A: William Barak Bridge', 'net..."
3,node,267328963,-37.855349,144.982505,"{'bench': 'yes', 'name': 'Stop 30: St Kilda Ju..."
4,node,272268719,-37.850406,145.095838,"{'name': 'Stop 58: Warrigal Road', 'network': ..."

In [53]:
df_new=df[['id','lat','lon']]

In [55]:
df_new.to_csv(r'C:\Melbourne_Escooter\Melbourne-transport\tram stops.csv')

In [57]:
dd= pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\tram stops.csv')

## Shops

In [15]:
with open(r'C:\Melbourne_Escooter\Melbourne-buildings\shops.json', encoding="utf8") as f:
    data = json.load(f)

In [16]:
result=data['elements']

In [17]:
df_shop=pd.DataFrame(result)

In [18]:
df_shop.head()

,type,id,lat,lon,tags
0,node,174844923,-37.815685,144.964928,"{'addr:city': 'Melbourne', 'addr:housenumber':..."
1,node,222420863,-37.788987,144.976090,"{'addr:city': 'Carlton North', 'addr:housenumb..."
2,node,241033559,-37.787433,144.969456,"{'addr:housenumber': '187', 'addr:postcode': '..."
3,node,241367792,-37.780409,144.977907,"{'addr:housenumber': '809', 'addr:street': 'Ni..."
4,node,241367865,-37.782922,144.977814,"{'addr:city': 'Fitzroy North', 'addr:country':..."

In [19]:
df_new_shop=df_shop[['id','lat','lon']]

In [20]:
df_new_shop.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\shops.csv')

## Restuarants

In [21]:
with open(r'C:\Melbourne_Escooter\Melbourne-buildings\restaurants.json', encoding="utf8") as f:
    data = json.load(f)

In [22]:
result=data['elements']

In [23]:
df_rest=pd.DataFrame(result)

In [24]:
df_new_rest=df_rest[['id','lat','lon']]

In [25]:
df_new_rest.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\restaurants.csv')

## public transport stops

In [26]:
with open(r'C:\Melbourne_Escooter\Melbourne-buildings\publicTransport.json', encoding="utf8") as f:
    data = json.load(f)

In [27]:
result=data['elements']

In [29]:
df_trans=pd.DataFrame(result)

In [30]:
df_new_trans=df_trans[['id','lat','lon']]

In [31]:
df_new_trans.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\publicTransport.csv')

## Recreation from Landmarks dataset (portal)

In [23]:
df=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Landmarks_and_places_of_interest.csv')

In [24]:
df.head()

,Theme,Sub Theme,Feature Name,Co-ordinates
0,Transport,Railway Station,Flemington Bridge Railway Station,"(-37.7881645889621, 144.939277838304)"
1,Mixed Use,Retail/Office/Carpark,Council House 2 (CH2),"(-37.8142591432011, 144.966638432727)"
2,Place Of Assembly,Library,The Melbourne Athenaeum Library,"(-37.8148855756416, 144.967291289941)"
3,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),Carlton Gardens South,"(-37.8060684577258, 144.971266479841)"
4,Place of Worship,Church,St Francis Church,"(-37.8118847831837, 144.962422614541)"

In [21]:
df['Sub Theme'].unique()

array(['Railway Station', 'Retail/Office/Carpark', 'Library',
       'Informal Outdoor Facility (Park/Garden/Reserve)', 'Church',
       'Private Hospital', 'Synagogue', 'Police Station',
       'Visitor Centre', 'Major Sports & Recreation Facility',
       'Transport Terminal', 'Private Sports Club/Facility', 'Cemetery',
       'Retail', 'Primary Schools', 'Art Gallery/Museum',
       'Secondary Schools', 'School - Primary and Secondary Education',
       'Theatre Live', 'Tertiary (University)', 'Public Buildings',
       'Retail/Office', 'Office', 'Government Building',
       'Outdoor Recreation Facility (Zoo, Golf Course)',
       'Function/Conference/Exhibition Centre',
       'Vacant Land - Undeveloped Site', 'Casino', 'Public Hospital',
       'Film & RV Studio', 'Current Construction Site', 'Marina',
       'Observation Tower/Wheel', 'Further Education', 'Hostel',
       'Current Construction Site - Commercial', 'Cinema',
       'Indoor Recreation Facility', 'Dwelling (House)',
       'Industrial (Manufacturing)', 'Store Yard', 'Fire Station',
       'Retail/Office/Residential/Carpark', 'Gymnasium/Health Club',
       'Aquarium', 'Retail/Residential', 'Bridge', 'Department Store',
       'Medical Services'], dtype=object)

In [22]:
df['Theme'].unique()

array(['Transport', 'Mixed Use', 'Place Of Assembly',
       'Leisure/Recreation', 'Place of Worship', 'Health Services',
       'Community Use', 'Retail', 'Education Centre', 'Office',
       'Vacant Land', 'Purpose Built',
       'Specialist Residential Accommodation',
       'Residential Accommodation', 'Industrial', 'Warehouse/Store'],
      dtype=object)

In [27]:
df_recreation=df[df['Theme'].isin(['Leisure/Recreation'])]

In [28]:
df_recreation.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\recreation.csv')

# Campus

In [30]:
df_campus=df[df['Sub Theme'].isin(['Tertiary (University)'])]

In [31]:
df_campus

,Theme,Sub Theme,Feature Name,Co-ordinates
57,Education Centre,Tertiary (University),University of Melbourne (VCA and Music),"(-37.8241137662047, 144.96933253996)"
183,Education Centre,Tertiary (University),BIO 21 Institute,"(-37.7978743305343, 144.953780325865)"
196,Education Centre,Tertiary (University),University of Melbourne,"(-37.7982892284927, 144.96099520158)"
199,Education Centre,Tertiary (University),RMIT University,"(-37.8080795360545, 144.964452974798)"

In [32]:
df_campus.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Campus\campus.csv')

## Cafe and Restaurant from Cafes and restaurants, with seating capacity dataset (portal)

In [10]:
df=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Cafes_and_restaurants.csv')

In [11]:
df.head()

,Census year,Block ID,Property ID,Base property ID,Building address,CLUE small area,Business address,Industry (ANZSIC4) code,Industry (ANZSIC4) description,Seating type,Number of seats,x coordinate,y coordinate,Location
0,2002,2,111467,103973,0 King Street MELBOURNE 3000,Melbourne (CBD),469-479 King Street MELBOURNE 3000,8921,Zoological and Botanical Gardens Operation,Seats - Indoor,113,144.9595,-37.8206,POINT (144.9595 -37.8206)
1,2002,2,111467,103973,0 King Street MELBOURNE 3000,Melbourne (CBD),469-479 King Street MELBOURNE 3000,8921,Zoological and Botanical Gardens Operation,Seats - Outdoor,38,144.9595,-37.8206,POINT (144.9595 -37.8206)
2,2002,4,103972,103972,363-397 Flinders Street MELBOURNE 3000,Melbourne (CBD),"Vault 12, 387 Flinders Street MELBOURNE 3000",9539,Other Personal Services n.e.c.,Seats - Indoor,15,144.9623,-37.8195,POINT (144.9623 -37.8195)
3,2002,4,103972,103972,363-397 Flinders Street MELBOURNE 3000,Melbourne (CBD),"Vault 1, 363-367 Flinders Street MELBOURNE 3000",9111,Health and Fitness Centres and Gymnasia Operation,Seats - Indoor,20,144.9623,-37.8195,POINT (144.9623 -37.8195)
4,2002,4,103972,103972,363-397 Flinders Street MELBOURNE 3000,Melbourne (CBD),"Vault 1, 363-367 Flinders Street MELBOURNE 3000",9111,Health and Fitness Centres and Gymnasia Operation,Seats - Outdoor,18,144.9623,-37.8195,POINT (144.9623 -37.8195)

In [18]:
df_new=df[df['Census year']==2020]

In [19]:
df_new['Industry (ANZSIC4) description'].unique()

array(['Cafes and Restaurants', 'Takeaway Food Services',
       'Zoological and Botanical Gardens Operation',
       'Other Specialised Food Retailing', 'Pubs, Taverns and Bars',
       'Non-Residential Property Operators',
       'Bakery Product Manufacturing (Non-factory based)',
       'Accommodation', 'Clubs (Hospitality)',
       'Other Interest Group Services n.e.c.',
       'Newspaper and Book Retailing',
       'Sports and Physical Recreation Venues, Grounds and Facilities Operation',
       'Health and Fitness Centres and Gymnasia Operation',
       'Performing Arts Operation', 'Catering Services',
       'Performing Arts Venue Operation',
       'Other Store-Based Retailing n.e.c.',
       'Amusement and Other Recreational Activities n.e.c.',
       'Motion Picture Exhibition',
       'Automotive Body, Paint and Interior Repair',
       'Other Gambling Activities',
       'Horse and Dog Racing Administration and Track Operation',
       'Religious Services', 'Supermarket and Grocery Stores',
       'Flower Retailing', 'Other Personal Services n.e.c.',
       'Other Food Product Manufacturing n.e.c.', 'Car Retailing',
       'Casino Operation', 'Other Administrative Services n.e.c.',
       'Fruit and Vegetable Retailing',
       'Telecommunication Goods Wholesaling'], dtype=object)

In [20]:
df_cafe=df_new[df_new['Industry (ANZSIC4) description'].isin(['Cafes and Restaurants','Pubs, Taverns and Bars','Takeaway Food Services','Supermarket and Grocery Stores'])]

In [22]:
df_cafe.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\cafe.csv')

In [23]:
df_cafe.count()

Census year                       3082
Block ID                          3082
Property ID                       3082
Base property ID                  3082
Building address                  3082
CLUE small area                   3082
Business address                  3082
Industry (ANZSIC4) code           3082
Industry (ANZSIC4) description    3082
Seating type                      3082
Number of seats                   3082
x coordinate                      3082
y coordinate                      3082
Location                          3082
dtype: int64

# Shops

In [8]:
df= pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-Buildings\buildings.csv')

In [9]:
df_new=df[df['Census year']==2020]

In [13]:
df_shops=df_new_2020[df_new_2020['Predominant space use'].isin(['Retail - Shop'])]

In [15]:
df_shops.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\shops.csv',index=False)

# Hospitals

In [16]:
df_hospital=df_new_2020[df_new_2020['Predominant space use'].isin(['Hospital/Clinic'])]

In [17]:
df_hospital.to_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\hospital.csv',index=False)