## Tram stop count

In [2]:
import pandas as pd

In [2]:
df_tram=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trams\__suburbWiseCount.csv')

In [3]:
df_tram.head()

         suburb  tram stop count
0    Abbotsford               12
1  Airport West               11
2   Albert Park               20
3      Armadale               28
4    Ascot Vale               25

In [4]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [5]:
area.head()

       SA2 name   2021    Area  Population density 2021
0    Abbotsford   9262     1.7                   5321.5
1  Airport West   8237     3.7                   2214.6
2   Albert Park  16023     4.7                   3427.6
3     Alexandra   6768  2119.0                      3.2
4     Alfredton  16823    52.7                    319.2

In [6]:
tram_area=pd.merge(df_tram, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [7]:
tram_area.head()

         suburb  tram stop count      SA2 name  Area
0    Abbotsford               12    Abbotsford   1.7
1  Airport West               11  Airport West   3.7
2   Albert Park               20   Albert Park   4.7
3      Armadale               28      Armadale   2.2
4    Ascot Vale               25    Ascot Vale   3.8

In [8]:
tram_area['norm_tramStops']=tram_area['tram stop count']/tram_area['Area']

In [9]:
df_new=tram_area[['suburb','norm_tramStops']]

In [10]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\Tram Stops\normalizedTramStopCount.csv',index=False)

## Recreation Count

In [11]:
df_recrea=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')

In [12]:
df_recrea.head()

           suburb  count
0   Carlton North      3
1         Carlton      8
2       Docklands      7
3  East Melbourne      8
4      Flemington      2

In [ ]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [13]:
recrea_area=pd.merge(df_recrea, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [14]:
recrea_area['norm_recreations']=recrea_area['count']/recrea_area['Area']

In [15]:
df_new=recrea_area[['suburb','norm_recreations']]

In [16]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\Recreation\normalizedRecreationsCount.csv',index=False)

## Office Count

In [17]:
df_office=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\office\__suburbWiseCount.csv')

In [18]:
df_office.head()

           suburb  count
0   Carlton North      1
1         Carlton    117
2       Docklands     40
3  East Melbourne     62
4      Flemington      3

In [19]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [20]:
office_area=pd.merge(df_office, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [21]:
office_area['norm_offices']=office_area['count']/office_area['Area']

In [22]:
df_new=office_area[['suburb','norm_offices']]

In [23]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\Office\normalizedOfficesCount.csv',index=False)

## Cafe Count

In [24]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Cafe\__suburbWiseCount.csv')

In [25]:
df_cafe.head()

           suburb  count
0      Ascot Vale     10
1   Carlton North      1
2         Carlton    358
3       Docklands    346
4  East Melbourne     67

In [26]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [27]:
cafe_area=pd.merge(df_cafe, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [28]:
cafe_area['norm_cafe']=cafe_area['count']/cafe_area['Area']

In [29]:
df_new=cafe_area[['suburb','norm_cafe']]

In [30]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\Cafe\normalizedCafesCount.csv',index=False)

## House Count

In [31]:
df_house=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\House\__suburbWiseCount.csv')

In [32]:
df_house.head()

           suburb  count
0  Brunswick West     28
1   Carlton North      1
2         Carlton   1601
3       Docklands    187
4  East Melbourne    715

In [33]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [34]:
house_area=pd.merge(df_house, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [35]:
house_area['norm_house']=house_area['count']/house_area['Area']

In [37]:
df_new=house_area[['suburb','norm_house']]

In [39]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\House\normalizedHousesCount.csv',index=False)

## Bus stops

In [5]:
df_bus=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount.csv')

In [7]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [8]:
bus_area=pd.merge(df_bus, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [9]:
bus_area['norm_bus']=bus_area['count']/bus_area['Area']

In [10]:
df_new=bus_area[['suburb','norm_bus']]

In [11]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\Bus Stops\normalizedBusStopCount.csv',index=False)

## Train stops

In [12]:
df_train=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trainstops\__suburbWiseCount.csv')

In [13]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [14]:
train_area=pd.merge(df_train, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [15]:
train_area['norm_train']=train_area['count']/train_area['Area']

In [16]:
df_new=train_area[['suburb','norm_train']]

In [17]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\TrainStops\normalizedTrainStopCount.csv',index=False)

# Hospital

In [3]:
df_hos=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Hospital\__suburbWiseCount.csv')

In [4]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [6]:
hos_area=pd.merge(df_hos, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [7]:
hos_area['norm_hospital']=hos_area['count']/hos_area['Area']

In [9]:
df_new=hos_area[['suburb','norm_hospital']]

In [11]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\Hospital\normalizedHospitalCount.csv',index=False)

# Shops

In [18]:
df_shop=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Shops\__suburbWiseCount.csv')

In [19]:
area=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\population.csv')

In [20]:
shop_area=pd.merge(df_shop, area[['SA2 name','Area']], left_on='suburb', right_on='SA2 name' )

In [21]:
shop_area['norm_shop']=shop_area['count']/shop_area['Area']

In [24]:
df_new=shop_area[['suburb','norm_shop']]

In [26]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise_Normalized\Shop\normalizedShopCount.csv',index=False)