## With Public Transport

In [4]:
import pandas as pd
from scipy.stats import entropy

In [2]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\Venue Distribution.csv')

In [3]:
df.head()

           suburb     House    Office  Restaurant  Public Transport
0         Carlton  0.749883  0.054801    0.167681          0.027635
1   Carlton North  0.041667  0.041667    0.041667          0.875000
2       Docklands  0.307061  0.065681    0.568144          0.059113
3  East Melbourne  0.823733  0.071429    0.077189          0.027650
4      Flemington  0.000000  0.150000    0.000000          0.850000

In [29]:
venue_dist=[]
ls = df.values.tolist()
for element in ls:
    venue_dist.append(element[1:])

In [30]:
venue_dist

[[0.749882904, 0.054800937, 0.167681499, 0.02763466],
 [0.041666667, 0.041666667, 0.041666667, 0.875],
 [0.307060755, 0.065681445, 0.568144499, 0.0591133],
 [0.823732719, 0.071428571, 0.07718894, 0.02764977],
 [0.0, 0.15, 0.0, 0.85],
 [0.967223448, 0.009769934, 0.015757958, 0.007248661],
 [0.149834741, 0.130738156, 0.645611458, 0.073815645],
 [0.866777685, 0.048709409, 0.054121565, 0.030391341],
 [0.894736842, 0.013463892, 0.028151775, 0.063647491],
 [0.084210526, 0.263157895, 0.326315789, 0.326315789],
 [0.051282051, 0.025641026, 0.897435897, 0.025641026],
 [0.922305764, 0.001253133, 0.007518797, 0.068922306],
 [0.203856749, 0.123966942, 0.520661157, 0.151515152],
 [0.753588517, 0.110047847, 0.093301435, 0.043062201]]

In [19]:
carlton=[0.749883,0.054801,0.167681,0.027635]

In [20]:
entropy(carlton, base=2)

1.1160531857403904

In [46]:
entropy_category_ls=[]
for category in venue_dist:
    entropy_category=entropy(category, base=2)
    entropy_category_ls.append(entropy_category)

In [47]:
entropy_category_ls

[1.1160524071488023,
 0.7416847596330187,
 1.485692415695328,
 0.9307749185209295,
 0.6098403047164005,
 0.25762022489136405,
 1.4791712573578943,
 0.7720461472929103,
 0.6251672855583253,
 1.8618916502695828,
 0.6309174625833761,
 0.4387083987726945,
 1.74384904167551,
 1.1726134080556558]

In [48]:
entrpy=pd.DataFrame(entropy_category_ls)

In [49]:
df_new=pd.concat([df,entrpy], axis=1)

In [53]:
df_new.head()

           suburb     House    Office  Restaurant  Public Transport         0
0         Carlton  0.749883  0.054801    0.167681          0.027635  1.116052
1   Carlton North  0.041667  0.041667    0.041667          0.875000  0.741685
2       Docklands  0.307061  0.065681    0.568144          0.059113  1.485692
3  East Melbourne  0.823733  0.071429    0.077189          0.027650  0.930775
4      Flemington  0.000000  0.150000    0.000000          0.850000  0.609840

In [52]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\Entropy.csv',index=False)

## Without public transport

In [54]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\Venue Distribution-Without transport.csv')

In [55]:
venue_dist=[]
ls = df.values.tolist()
for element in ls:
    venue_dist.append(element[1:])

In [56]:
venue_dist

[[0.771194605, 0.056358382, 0.172447013],
 [0.333333333, 0.333333333, 0.333333333],
 [0.326352531, 0.069808028, 0.603839442],
 [0.847156398, 0.073459716, 0.079383886],
 [0.0, 1.0, 0.0],
 [0.974285714, 0.00984127, 0.015873016],
 [0.161776368, 0.141157811, 0.697065821],
 [0.8939459, 0.050236153, 0.055817948],
 [0.955555556, 0.014379085, 0.030065359],
 [0.125, 0.390625, 0.484375],
 [0.052631579, 0.026315789, 0.921052632],
 [0.990578735, 0.001345895, 0.00807537],
 [0.24025974, 0.146103896, 0.613636364],
 [0.7875, 0.115, 0.0975]]

In [57]:
entropy_category_ls=[]
for category in venue_dist:
    entropy_category=entropy(category, base=2)
    entropy_category_ls.append(entropy_category)

In [59]:
entrpy=pd.DataFrame(entropy_category_ls)

In [60]:
df_new=pd.concat([df,entrpy], axis=1)

In [61]:
df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\Entropy_withoutTransport.csv',index=False)