In [1]:
import pandas as pd

# Row counts of POI and population VS. trip start

In [6]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\POI calculations\POI raw counts.csv',encoding='ISO-8859-1')

In [7]:
df

,suburb,Population density,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station
0,Carlton,17198,1601,117,358,8,20,84,15,44,0
1,Carlton North,8295,1,1,1,3,0,0,16,5,0
2,Docklands,15942,187,40,346,7,0,3,30,5,1
3,East Melbourne,4962,715,62,67,8,29,5,21,1,2
4,Flemington,9190,0,3,0,2,0,0,11,3,3
5,Kensington,10874,3069,31,50,3,8,27,6,15,2
6,Melbourne,43823,408,356,1758,18,10,115,120,78,3
7,North Melbourne,15998,2082,117,130,3,14,58,32,39,2
8,Parkville,7446,731,11,23,5,3,1,28,23,1
9,Port Melbourne,16373,8,25,31,2,0,3,5,26,0
10,South Wharf,6635,2,1,35,0,0,1,1,0,0
11,South Yarra,28123,736,1,6,1,0,1,42,11,2
12,Southbank,16538,74,45,189,2,0,5,26,29,0
13,West Melbourne,7619,630,92,78,1,3,28,6,29,1

In [8]:
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [10]:
df_start

               suburb   count
0          Abbotsford   372.0
1         Albert Park   154.0
2          Alphington    13.0
3            Armadale     3.0
4          Ascot Vale     3.0
5           Balaclava    86.0
6            Brighton     7.0
7           Brunswick   150.0
8      Brunswick East    55.0
9      Brunswick West    30.0
10            Burnley    59.0
11            Carlton  1209.0
12      Carlton North   209.0
13    Caulfield North     4.0
14       Clifton Hill   127.0
15        Collingwood   559.0
16           Cremorne   190.0
17          Docklands  2020.0
18     East Melbourne   510.0
19             Elwood   233.0
20          Fairfield    15.0
21            Fitzroy   611.0
22      Fitzroy North   394.0
23         Flemington    37.0
24          Footscray     2.0
25           Hawthorn     1.0
26         Kensington   134.0
27            Kooyong     2.0
28          Melbourne  7357.0
29        Middle Park   100.0
30          Moorabbin     1.0
31    North Melbourne   730.0
32          Northcote     6.0
33          Parkville   469.0
34  Pascoe Vale South     1.0
35     Port Melbourne   532.0
36            Prahran    18.0
37       Princes Hill    51.0
38           Richmond   990.0
39          Ripponlea    19.0
40           Rowville     2.0
41    South Melbourne   567.0
42        South Wharf   374.0
43        South Yarra   256.0
44          Southbank  2207.0
45           St Kilda   671.0
46      St Kilda East    81.0
47      St Kilda West    57.0
48        Templestowe     1.0
49     West Melbourne   618.0
50            Windsor    47.0

In [9]:
df_merged=df.merge(df_start, how='left', on='suburb')

In [11]:
df_merged

,suburb,Population density,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station,count
0,Carlton,17198,1601,117,358,8,20,84,15,44,0,1209.0
1,Carlton North,8295,1,1,1,3,0,0,16,5,0,209.0
2,Docklands,15942,187,40,346,7,0,3,30,5,1,2020.0
3,East Melbourne,4962,715,62,67,8,29,5,21,1,2,510.0
4,Flemington,9190,0,3,0,2,0,0,11,3,3,37.0
5,Kensington,10874,3069,31,50,3,8,27,6,15,2,134.0
6,Melbourne,43823,408,356,1758,18,10,115,120,78,3,7357.0
7,North Melbourne,15998,2082,117,130,3,14,58,32,39,2,730.0
8,Parkville,7446,731,11,23,5,3,1,28,23,1,469.0
9,Port Melbourne,16373,8,25,31,2,0,3,5,26,0,532.0
10,South Wharf,6635,2,1,35,0,0,1,1,0,0,374.0
11,South Yarra,28123,736,1,6,1,0,1,42,11,2,256.0
12,Southbank,16538,74,45,189,2,0,5,26,29,0,2207.0
13,West Melbourne,7619,630,92,78,1,3,28,6,29,1,618.0

In [13]:
my_r = df_merged.corr(method="spearman")
my_r

,Population density,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station,count
Population density,1.000000,0.213187,0.335917,0.410989,0.162232,-0.028199,0.416402,0.475248,0.667403,0.102940,0.472527
House/ Apartment,0.213187,1.000000,0.450836,0.358242,0.317797,0.697926,0.598025,0.314632,0.436124,0.274505,0.134066
Office,0.335917,0.450836,1.000000,0.861892,0.577663,0.741962,0.933187,0.307525,0.730901,0.224271,0.764653
Restaurant/ Café,0.410989,0.358242,0.861892,1.000000,0.515587,0.507582,0.863813,0.314632,0.614539,-0.022875,0.890110
Leisure/ Recreation,0.162232,0.317797,0.577663,0.515587,1.000000,0.647508,0.451290,0.474996,0.304021,0.247502,0.413359
Hospital,-0.028199,0.697926,0.741962,0.507582,0.647508,1.000000,0.738880,0.198787,0.418030,0.337530,0.277290
Shops,0.416402,0.598025,0.933187,0.863813,0.451290,0.738880,1.000000,0.208430,0.764718,0.161374,0.693266
Tram Stops,0.475248,0.314632,0.307525,0.314632,0.474996,0.198787,0.208430,1.000000,0.331863,0.452287,0.426843
Bus stops,0.667403,0.436124,0.730901,0.614539,0.304021,0.418030,0.764718,0.331863,1.000000,0.002293,0.660795
Train Station,0.102940,0.274505,0.224271,-0.022875,0.247502,0.337530,0.161374,0.452287,0.002293,1.000000,-0.157841
count,0.472527,0.134066,0.764653,0.890110,0.413359,0.277290,0.693266,0.426843,0.660795,-0.157841,1.000000

In [14]:
my_r.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\POI calculations\week1-spearman-rowCountsofPPOI.csv')

In [15]:
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [17]:
df_merged2=df.merge(df_stop, how='left', on='suburb')

In [18]:
df_merged2

,suburb,Population density,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station,count
0,Carlton,17198,1601,117,358,8,20,84,15,44,0,1112.0
1,Carlton North,8295,1,1,1,3,0,0,16,5,0,205.0
2,Docklands,15942,187,40,346,7,0,3,30,5,1,1914.0
3,East Melbourne,4962,715,62,67,8,29,5,21,1,2,471.0
4,Flemington,9190,0,3,0,2,0,0,11,3,3,30.0
5,Kensington,10874,3069,31,50,3,8,27,6,15,2,122.0
6,Melbourne,43823,408,356,1758,18,10,115,120,78,3,6907.0
7,North Melbourne,15998,2082,117,130,3,14,58,32,39,2,703.0
8,Parkville,7446,731,11,23,5,3,1,28,23,1,449.0
9,Port Melbourne,16373,8,25,31,2,0,3,5,26,0,504.0
10,South Wharf,6635,2,1,35,0,0,1,1,0,0,358.0
11,South Yarra,28123,736,1,6,1,0,1,42,11,2,257.0
12,Southbank,16538,74,45,189,2,0,5,26,29,0,2033.0
13,West Melbourne,7619,630,92,78,1,3,28,6,29,1,563.0

In [19]:
my_r = df_merged2.corr(method="spearman")
my_r

,Population density,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station,count
Population density,1.000000,0.213187,0.335917,0.410989,0.162232,-0.028199,0.416402,0.475248,0.667403,0.102940,0.472527
House/ Apartment,0.213187,1.000000,0.450836,0.358242,0.317797,0.697926,0.598025,0.314632,0.436124,0.274505,0.134066
Office,0.335917,0.450836,1.000000,0.861892,0.577663,0.741962,0.933187,0.307525,0.730901,0.224271,0.764653
Restaurant/ Café,0.410989,0.358242,0.861892,1.000000,0.515587,0.507582,0.863813,0.314632,0.614539,-0.022875,0.890110
Leisure/ Recreation,0.162232,0.317797,0.577663,0.515587,1.000000,0.647508,0.451290,0.474996,0.304021,0.247502,0.413359
Hospital,-0.028199,0.697926,0.741962,0.507582,0.647508,1.000000,0.738880,0.198787,0.418030,0.337530,0.277290
Shops,0.416402,0.598025,0.933187,0.863813,0.451290,0.738880,1.000000,0.208430,0.764718,0.161374,0.693266
Tram Stops,0.475248,0.314632,0.307525,0.314632,0.474996,0.198787,0.208430,1.000000,0.331863,0.452287,0.426843
Bus stops,0.667403,0.436124,0.730901,0.614539,0.304021,0.418030,0.764718,0.331863,1.000000,0.002293,0.660795
Train Station,0.102940,0.274505,0.224271,-0.022875,0.247502,0.337530,0.161374,0.452287,0.002293,1.000000,-0.157841
count,0.472527,0.134066,0.764653,0.890110,0.413359,0.277290,0.693266,0.426843,0.660795,-0.157841,1.000000

#  Percentage of POI VS. trip start

In [20]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\POI calculations\POI percentages.csv',encoding='ISO-8859-1')

In [21]:
df

,suburb,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station
0,Carlton,71.251,5.207,15.932,0.356,0.890,3.738,0.668,1.958,0.000
1,Carlton North,3.704,3.704,3.704,11.111,0.000,0.000,59.259,18.519,0.000
2,Docklands,30.210,6.462,55.897,1.131,0.000,0.485,4.847,0.808,0.162
3,East Melbourne,78.571,6.813,7.363,0.879,3.187,0.549,2.308,0.110,0.220
4,Flemington,0.000,13.636,0.000,9.091,0.000,0.000,50.000,13.636,13.636
5,Kensington,95.578,0.965,1.557,0.093,0.249,0.841,0.187,0.467,0.062
6,Melbourne,14.236,12.421,61.340,0.628,0.349,4.013,4.187,2.722,0.105
7,North Melbourne,84.053,4.723,5.248,0.121,0.565,2.342,1.292,1.574,0.081
8,Parkville,88.499,1.332,2.785,0.605,0.363,0.121,3.390,2.785,0.121
9,Port Melbourne,8.000,25.000,31.000,2.000,0.000,3.000,5.000,26.000,0.000
10,South Wharf,5.000,2.500,87.500,0.000,0.000,2.500,2.500,0.000,0.000
11,South Yarra,92.000,0.125,0.750,0.125,0.000,0.125,5.250,1.375,0.250
12,Southbank,20.000,12.162,51.081,0.541,0.000,1.351,7.027,7.838,0.000
13,West Melbourne,72.581,10.599,8.986,0.115,0.346,3.226,0.691,3.341,0.115

In [22]:
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [23]:
df_merged=df.merge(df_start, how='left', on='suburb')

In [24]:
df_merged

,suburb,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station,count
0,Carlton,71.251,5.207,15.932,0.356,0.890,3.738,0.668,1.958,0.000,1209.0
1,Carlton North,3.704,3.704,3.704,11.111,0.000,0.000,59.259,18.519,0.000,209.0
2,Docklands,30.210,6.462,55.897,1.131,0.000,0.485,4.847,0.808,0.162,2020.0
3,East Melbourne,78.571,6.813,7.363,0.879,3.187,0.549,2.308,0.110,0.220,510.0
4,Flemington,0.000,13.636,0.000,9.091,0.000,0.000,50.000,13.636,13.636,37.0
5,Kensington,95.578,0.965,1.557,0.093,0.249,0.841,0.187,0.467,0.062,134.0
6,Melbourne,14.236,12.421,61.340,0.628,0.349,4.013,4.187,2.722,0.105,7357.0
7,North Melbourne,84.053,4.723,5.248,0.121,0.565,2.342,1.292,1.574,0.081,730.0
8,Parkville,88.499,1.332,2.785,0.605,0.363,0.121,3.390,2.785,0.121,469.0
9,Port Melbourne,8.000,25.000,31.000,2.000,0.000,3.000,5.000,26.000,0.000,532.0
10,South Wharf,5.000,2.500,87.500,0.000,0.000,2.500,2.500,0.000,0.000,374.0
11,South Yarra,92.000,0.125,0.750,0.125,0.000,0.125,5.250,1.375,0.250,256.0
12,Southbank,20.000,12.162,51.081,0.541,0.000,1.351,7.027,7.838,0.000,2207.0
13,West Melbourne,72.581,10.599,8.986,0.115,0.346,3.226,0.691,3.341,0.115,618.0

In [25]:
my_r = df_merged.corr(method="spearman")
my_r

,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station,count
House/ Apartment,1.000000,-0.595604,-0.367033,-0.542857,0.504599,0.004400,-0.595604,-0.481319,0.285465,-0.002198
Office,-0.595604,1.000000,0.358242,0.507692,-0.072756,0.332233,0.274725,0.542857,-0.015734,0.419780
Restaurant/ Café,-0.367033,0.358242,1.000000,-0.107692,-0.049286,0.666667,-0.098901,-0.156044,-0.487764,0.727473
Leisure/ Recreation,-0.542857,0.507692,-0.107692,1.000000,-0.227656,-0.440044,0.696703,0.578022,0.177573,-0.032967
Hospital,0.504599,-0.072756,-0.049286,-0.227656,1.000000,0.350084,-0.711132,-0.298065,0.108014,0.283984
Shops,0.004400,0.332233,0.666667,-0.440044,0.350084,1.000000,-0.545655,-0.092409,-0.459047,0.649065
Tram Stops,-0.595604,0.274725,-0.098901,0.696703,-0.711132,-0.545655,1.000000,0.560440,0.105645,-0.151648
Bus stops,-0.481319,0.542857,-0.156044,0.578022,-0.298065,-0.092409,0.560440,1.000000,-0.200051,0.019780
Train Station,0.285465,-0.015734,-0.487764,0.177573,0.108014,-0.459047,0.105645,-0.200051,1.000000,-0.227024
count,-0.002198,0.419780,0.727473,-0.032967,0.283984,0.649065,-0.151648,0.019780,-0.227024,1.000000

In [26]:
my_r.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\POI calculations\week1-spearman-precentagesofPPOI.csv')

In [27]:
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [28]:
df_merged2=df.merge(df_stop, how='left', on='suburb')

In [29]:
my_r = df_merged2.corr(method="spearman")
my_r

,House/ Apartment,Office,Restaurant/ Café,Leisure/ Recreation,Hospital,Shops,Tram Stops,Bus stops,Train Station,count
House/ Apartment,1.000000,-0.595604,-0.367033,-0.542857,0.504599,0.004400,-0.595604,-0.481319,0.285465,-0.002198
Office,-0.595604,1.000000,0.358242,0.507692,-0.072756,0.332233,0.274725,0.542857,-0.015734,0.419780
Restaurant/ Café,-0.367033,0.358242,1.000000,-0.107692,-0.049286,0.666667,-0.098901,-0.156044,-0.487764,0.727473
Leisure/ Recreation,-0.542857,0.507692,-0.107692,1.000000,-0.227656,-0.440044,0.696703,0.578022,0.177573,-0.032967
Hospital,0.504599,-0.072756,-0.049286,-0.227656,1.000000,0.350084,-0.711132,-0.298065,0.108014,0.283984
Shops,0.004400,0.332233,0.666667,-0.440044,0.350084,1.000000,-0.545655,-0.092409,-0.459047,0.649065
Tram Stops,-0.595604,0.274725,-0.098901,0.696703,-0.711132,-0.545655,1.000000,0.560440,0.105645,-0.151648
Bus stops,-0.481319,0.542857,-0.156044,0.578022,-0.298065,-0.092409,0.560440,1.000000,-0.200051,0.019780
Train Station,0.285465,-0.015734,-0.487764,0.177573,0.108014,-0.459047,0.105645,-0.200051,1.000000,-0.227024
count,-0.002198,0.419780,0.727473,-0.032967,0.283984,0.649065,-0.151648,0.019780,-0.227024,1.000000

## Cafe VS. trips

In [40]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Cafe\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [41]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Cafe.csv',index=False)

In [42]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.868132
trip start count          0.868132          1.000000

In [62]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Cafe\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [63]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Cafe.csv',index=False)

In [64]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.868132
trip stop count           0.868132         1.000000

## Tram Stop Vs. Trips

In [52]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trams\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [47]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Tramstops.csv',index=False)

In [55]:
cafe_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Tramstops.csv')
my_r = cafe_start.corr(method="spearman")
my_r

                 tram stop count     count
tram stop count         1.000000  0.426843
count                   0.426843  1.000000

In [54]:
cafe_start

            suburb  tram stop count  count
0       Abbotsford               12  372.0
1     Airport West               11    NaN
2      Albert Park               20  154.0
3         Armadale               28    3.0
4       Ascot Vale               25    3.0
..             ...              ...    ...
72       Thornbury               18    NaN
73          Toorak               28    NaN
74      Travancore                9    NaN
75  West Melbourne                6  618.0
76         Windsor               12   47.0

[77 rows x 3 columns]

In [65]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trams\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [66]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Tramstops.csv',index=False)

In [68]:
cafe_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Tramstops.csv')
my_r = cafe_stop.corr(method="spearman")
my_r

                 tram stop count     count
tram stop count         1.000000  0.426843
count                   0.426843  1.000000

## Recreation Vs. Trips

In [69]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [70]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Recreation.csv',index=False)

In [71]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.373295
trip start count          0.373295          1.000000

In [72]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [73]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Recreation.csv',index=False)

In [74]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.373295
trip stop count           0.373295         1.000000

# Office Vs. trips

In [75]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\office\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [76]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Office.csv',index=False)

In [77]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.764653
trip start count          0.764653          1.000000

In [78]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\office\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [79]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Office.csv',index=False)

In [80]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.764653
trip stop count           0.764653         1.000000

# House Vs. Trips

In [89]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\House\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [90]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_House.csv',index=False)

In [83]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.021448
trip start count          0.021448          1.000000

In [84]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\House\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [85]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_House.csv',index=False)

In [86]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.021448
trip stop count           0.021448         1.000000

## Train Stop Vs. Trips

In [100]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trainstops\__suburbWiseCount - Melb.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [101]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_TrainStop.csv',index=False)

In [102]:
cafe_start

            suburb  restaurant count  trip start count
0        Docklands                 1            2020.0
1   East Melbourne                 2             510.0
2       Flemington                 3              37.0
3       Kensington                 2             134.0
4        Melbourne                 3            7357.0
5  North Melbourne                 2             730.0
6        Parkville                 1             469.0
7      South Yarra                 2             256.0
8   West Melbourne                 1             618.0

In [103]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000         -0.187083
trip start count         -0.187083          1.000000

In [104]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trainstops\__suburbWiseCount - Melb.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [105]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_TrainStop.csv',index=False)

In [106]:
cafe_stop

            suburb  restaurant count  trip stop count
0        Docklands                 1           1914.0
1   East Melbourne                 2            471.0
2       Flemington                 3             30.0
3       Kensington                 2            122.0
4        Melbourne                 3           6907.0
5  North Melbourne                 2            703.0
6        Parkville                 1            449.0
7      South Yarra                 2            257.0
8   West Melbourne                 1            563.0

In [107]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000        -0.187083
trip stop count          -0.187083         1.000000

## Bus stop Vs. Trips

In [109]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount - Melb.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [110]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_BusStop.csv',index=False)

In [111]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.666669
trip start count          0.666669          1.000000

In [113]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount - Melb.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [114]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_BusStop.csv',index=False)

In [115]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.666669
trip stop count           0.666669         1.000000

# Population Vs. Trips

In [10]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\2021Population - Melb.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [11]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Population.csv',index=False)

In [12]:
my_r = cafe_start.corr(method="spearman")
my_r

                         Population density 2021     count
Population density 2021                 1.000000  0.643956
count                                   0.643956  1.000000

In [14]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\2021Population - Melb.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [15]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Population.csv',index=False)

In [16]:
my_r = cafe_stop.corr(method="spearman")
my_r

                         Population density 2021     count
Population density 2021                 1.000000  0.643956
count                                   0.643956  1.000000

# Shops Vs Trips

In [19]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Shops\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [ ]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Shops.csv',index=False)

In [21]:
my_r = cafe_start.corr(method="spearman")
my_r

                  population  trip start count
population           1.00000           0.57247
trip start count     0.57247           1.00000

In [22]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Shops\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [23]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Shops.csv',index=False)

In [24]:
my_r = cafe_stop.corr(method="spearman")
my_r

                 population  trip stop count
population          1.00000          0.57247
trip stop count     0.57247          1.00000

# Hospitals vs trips

In [33]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Hospital\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [34]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Hospital.csv',index=False)

In [35]:
my_r = cafe_start.corr(method="spearman")
my_r

                     count  trip start count
count             1.000000          0.360375
trip start count  0.360375          1.000000

In [28]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Hospital\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [29]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Hospital.csv',index=False)

In [30]:
my_r = cafe_stop.corr(method="spearman")
my_r

                 population  trip stop count
population         1.000000         0.360375
trip stop count    0.360375         1.000000

# Campus VS trips

In [41]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Campus\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [42]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Campus.csv',index=False)

In [44]:
cafe_start

      suburb  count  trip start count
0    Carlton      1            1209.0
1  Melbourne      1            7357.0
2  Parkville      1             469.0
3  Southbank      1            2207.0

In [46]:
cafe_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Campus.csv')
my_r = cafe_start.corr(method="spearman")
my_r

                  count  trip start count
count               NaN               NaN
trip start count    NaN               1.0