## Cafe VS. trips

In [1]:
import pandas as pd

In [40]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Cafe\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [41]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Cafe.csv',index=False)

In [42]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.868132
trip start count          0.868132          1.000000

In [62]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Cafe\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [63]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Cafe.csv',index=False)

In [64]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.868132
trip stop count           0.868132         1.000000

## Tram Stop Vs. Trips

In [52]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trams\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [47]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Tramstops.csv',index=False)

In [55]:
cafe_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Tramstops.csv')
my_r = cafe_start.corr(method="spearman")
my_r

                 tram stop count     count
tram stop count         1.000000  0.426843
count                   0.426843  1.000000

In [54]:
cafe_start

            suburb  tram stop count  count
0       Abbotsford               12  372.0
1     Airport West               11    NaN
2      Albert Park               20  154.0
3         Armadale               28    3.0
4       Ascot Vale               25    3.0
..             ...              ...    ...
72       Thornbury               18    NaN
73          Toorak               28    NaN
74      Travancore                9    NaN
75  West Melbourne                6  618.0
76         Windsor               12   47.0

[77 rows x 3 columns]

In [65]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trams\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [66]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Tramstops.csv',index=False)

In [68]:
cafe_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Tramstops.csv')
my_r = cafe_stop.corr(method="spearman")
my_r

                 tram stop count     count
tram stop count         1.000000  0.426843
count                   0.426843  1.000000

## Recreation Vs. Trips

In [69]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [70]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Recreation.csv',index=False)

In [71]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.373295
trip start count          0.373295          1.000000

In [72]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [73]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Recreation.csv',index=False)

In [74]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.373295
trip stop count           0.373295         1.000000

# Office Vs. trips

In [75]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\office\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [76]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Office.csv',index=False)

In [77]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.764653
trip start count          0.764653          1.000000

In [78]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\office\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [79]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Office.csv',index=False)

In [80]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.764653
trip stop count           0.764653         1.000000

# House Vs. Trips

In [89]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\House\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [90]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_House.csv',index=False)

In [83]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.021448
trip start count          0.021448          1.000000

In [84]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\House\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [85]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_House.csv',index=False)

In [86]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.021448
trip stop count           0.021448         1.000000

## Train Stop Vs. Trips

In [100]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trainstops\__suburbWiseCount - Melb.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [101]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_TrainStop.csv',index=False)

In [102]:
cafe_start

            suburb  restaurant count  trip start count
0        Docklands                 1            2020.0
1   East Melbourne                 2             510.0
2       Flemington                 3              37.0
3       Kensington                 2             134.0
4        Melbourne                 3            7357.0
5  North Melbourne                 2             730.0
6        Parkville                 1             469.0
7      South Yarra                 2             256.0
8   West Melbourne                 1             618.0

In [103]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000         -0.187083
trip start count         -0.187083          1.000000

In [104]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Trainstops\__suburbWiseCount - Melb.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [105]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_TrainStop.csv',index=False)

In [106]:
cafe_stop

            suburb  restaurant count  trip stop count
0        Docklands                 1           1914.0
1   East Melbourne                 2            471.0
2       Flemington                 3             30.0
3       Kensington                 2            122.0
4        Melbourne                 3           6907.0
5  North Melbourne                 2            703.0
6        Parkville                 1            449.0
7      South Yarra                 2            257.0
8   West Melbourne                 1            563.0

In [107]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000        -0.187083
trip stop count          -0.187083         1.000000

## Bus stop Vs. Trips

In [109]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount - Melb.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [110]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_BusStop.csv',index=False)

In [111]:
my_r = cafe_start.corr(method="spearman")
my_r

                  restaurant count  trip start count
restaurant count          1.000000          0.666669
trip start count          0.666669          1.000000

In [113]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount - Melb.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [114]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'restaurant count', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_BusStop.csv',index=False)

In [115]:
my_r = cafe_stop.corr(method="spearman")
my_r

                  restaurant count  trip stop count
restaurant count          1.000000         0.666669
trip stop count           0.666669         1.000000

# Population Vs. Trips

In [10]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\2021Population - Melb.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [11]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Population.csv',index=False)

In [12]:
my_r = cafe_start.corr(method="spearman")
my_r

                         Population density 2021     count
Population density 2021                 1.000000  0.643956
count                                   0.643956  1.000000

In [14]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-population\2021Population - Melb.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [15]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Population.csv',index=False)

In [16]:
my_r = cafe_stop.corr(method="spearman")
my_r

                         Population density 2021     count
Population density 2021                 1.000000  0.643956
count                                   0.643956  1.000000

# Shops Vs Trips

In [19]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Shops\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [ ]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Shops.csv',index=False)

In [21]:
my_r = cafe_start.corr(method="spearman")
my_r

                  population  trip start count
population           1.00000           0.57247
trip start count     0.57247           1.00000

In [22]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Shops\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [23]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Shops.csv',index=False)

In [24]:
my_r = cafe_stop.corr(method="spearman")
my_r

                 population  trip stop count
population          1.00000          0.57247
trip stop count     0.57247          1.00000

# Hospitals vs trips

In [33]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Hospital\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [34]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Hospital.csv',index=False)

In [35]:
my_r = cafe_start.corr(method="spearman")
my_r

                     count  trip start count
count             1.000000          0.360375
trip start count  0.360375          1.000000

In [28]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Hospital\__suburbWiseCount.csv')
df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\stop\__1to7.csv')

In [29]:
cafe_stop=df_cafe.merge(df_stop, how='left', on='suburb')
cafe_stop.rename(columns = {'suburb':'suburb', 'count_x':'population', 'count_y':'trip stop count'}, inplace = True)
cafe_stop.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Stop_Hospital.csv',index=False)

In [30]:
my_r = cafe_stop.corr(method="spearman")
my_r

                 population  trip stop count
population         1.000000         0.360375
trip stop count    0.360375         1.000000

# Campus VS trips

In [41]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Campus\__suburbWiseCount.csv')
df_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__1to7.csv')

In [42]:
cafe_start=df_cafe.merge(df_start, how='left', on='suburb')
cafe_start.rename(columns = {'suburb':'suburb', 'count_x':'count', 'count_y':'trip start count'}, inplace = True)
cafe_start.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Campus.csv',index=False)

In [44]:
cafe_start

      suburb  count  trip start count
0    Carlton      1            1209.0
1  Melbourne      1            7357.0
2  Parkville      1             469.0
3  Southbank      1            2207.0

In [46]:
cafe_start=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\__1to7Start_Campus.csv')
my_r = cafe_start.corr(method="spearman")
my_r

                  count  trip start count
count               NaN               NaN
trip start count    NaN               1.0