In [1]:
import pandas as pd

In [42]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__m1.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.708288
count_y  0.708288  1.000000

In [43]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__m2.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.738703
count_y  0.738703  1.000000

In [44]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__e1.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.723267
count_y  0.723267  1.000000

In [45]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__e2.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.703422
count_y  0.703422  1.000000

In [46]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__n1.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.637269
count_y  0.637269  1.000000

In [47]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-transport\Bus Stops\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__n2.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.595373
count_y  0.595373  1.000000