In [2]:
import pandas as pd

In [84]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__weekend__m1.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.329175
count_y  0.329175  1.000000

In [85]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__weekend__m2.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.446339
count_y  0.446339  1.000000

In [86]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__weekend__e1.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

         count_x  count_y
count_x  1.00000  0.39001
count_y  0.39001  1.00000

In [87]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__weekend__e2.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.338939
count_y  0.338939  1.000000

In [88]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__weekend__n1.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

         count_x  count_y
count_x  1.00000  0.36109
count_y  0.36109  1.00000

In [89]:
df_cafe=pd.read_csv(r'C:\Melbourne_Escooter\Melbourne-buildings\Recreation\__suburbWiseCount.csv')
df_start_m1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SuburbWise\August\start\__weekend__n2.csv')
cafe_start_m1=df_cafe.merge(df_start_m1, how='left', on='suburb')
r_m1 = cafe_start_m1.corr(method="spearman")
r_m1

          count_x   count_y
count_x  1.000000  0.342652
count_y  0.342652  1.000000