In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\WithDateTime\TestTimeConcat.csv')

In [42]:
def addDateTime(day):
    for hour in range(0,24): 
        for partID in range(1,5):
            try:
                df= pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\{}_{}hour_part{}.csv'.format(day,hour,partID))
            except FileNotFoundError:
                continue
            col_names=[]
            datetime_list=[]
            for col in df.columns:
                col_names.append(col)
            unique_col_names=col_names[1:][::3]
            #take only lat_ like names
            #uni_name_count=len(unique_col_names)
            for names in unique_col_names:
                minute=names.split("_")[1]
                date_time=str(day)+":"+str(hour)+":"+str(minute)
                datetime_list.append(date_time)
            #print(datetime_list)

            for item in datetime_list:
                col_common_name=item.split(":")[2]
                item_index=datetime_list.index(item)
                location =int(item_index+1)*4
                column_name="date:time_"+col_common_name
                value=item
                #df['date:time_1']=np.where(df['range_1'].notnull(),'value',np.NaN)
                #print(location)
                try:
                    df.insert(location, column_name, value)
                except ValueError:
                    print("value error in "+ str(day)+"_"+str(hour)+"hour_part"+str(partID)+" file. ->>>>"+str(value))
                    continue
                except IndexError:
                    print("index error in "+ str(day)+"_"+str(hour)+"hour_part"+str(partID)+" file. ->>>>"+str(value))
                    continue
                date_column_name="date:time_"+col_common_name
                range_column_name="range_"+col_common_name
                #df['date:time_1']=np.where(df['range_1'].notnull(),'value',np.NaN)
                df[date_column_name]=np.where(df[range_column_name].notnull(),value,np.NaN)
            df.to_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\WithDateTime\{}_{}hour_part{}_dateAdded.csv'.format(day,hour,partID),index=False)
           # print("added!!!!!!")

This function take day as input parameter
Read all 4 files relevenat to an hour dynamically
For each dataframe, 
    take "lat" like names ->to get the minutes from column names( minute is the character next to _)
    generate the value to be inserted as datetime column value by string manipulation
    find the location where each datetime column to be placed in the DF (4,8,12,16,...)
    generate the column name by string manipulation
    insert the column into DF
    
    *** since inserting datetime value fill the whole column including rows with out location data, we need to replace unnecessary values with NAN.
  For that, use #df['date:time_1']=np.where(df['range_1'].notnull(),'value',np.NaN) command.
  find rows which has range cell values, and fill relevant rows with datetime values, and keep others NAN.

In [43]:
addDateTime(29)

value error in 29_14hour_part3 file. ->>>>29:14:39
value error in 29_14hour_part3 file. ->>>>29:14:42
value error in 29_14hour_part3 file. ->>>>29:14:39
value error in 29_14hour_part3 file. ->>>>29:14:42
index error in 29_14hour_part3 file. ->>>>29:14:32
value error in 29_15hour_part2 file. ->>>>29:15:16
value error in 29_15hour_part2 file. ->>>>29:15:20
value error in 29_15hour_part2 file. ->>>>29:15:23
value error in 29_15hour_part2 file. ->>>>29:15:16
value error in 29_15hour_part2 file. ->>>>29:15:20
value error in 29_15hour_part2 file. ->>>>29:15:23
index error in 29_15hour_part2 file. ->>>>29:15:17
value error in 29_19hour_part2 file. ->>>>29:19:21
value error in 29_19hour_part2 file. ->>>>29:19:24
value error in 29_19hour_part2 file. ->>>>29:19:27
value error in 29_19hour_part2 file. ->>>>29:19:21
value error in 29_19hour_part2 file. ->>>>29:19:24
value error in 29_19hour_part2 file. ->>>>29:19:27
index error in 29_19hour_part2 file. ->>>>29:19:19
index error in 29_19hour_part2 file. ->>>>29:19:20
value error in 29_22hour_part3 file. ->>>>29:22:36
value error in 29_22hour_part3 file. ->>>>29:22:39
value error in 29_22hour_part3 file. ->>>>29:22:42
value error in 29_22hour_part3 file. ->>>>29:22:36
value error in 29_22hour_part3 file. ->>>>29:22:39
value error in 29_22hour_part3 file. ->>>>29:22:42
index error in 29_22hour_part3 file. ->>>>29:22:32
value error in 29_22hour_part4 file. ->>>>29:22:49
value error in 29_22hour_part4 file. ->>>>29:22:52
value error in 29_22hour_part4 file. ->>>>29:22:55
value error in 29_22hour_part4 file. ->>>>29:22:49
value error in 29_22hour_part4 file. ->>>>29:22:52
value error in 29_22hour_part4 file. ->>>>29:22:55
index error in 29_22hour_part4 file. ->>>>29:22:48
value error in 29_23hour_part2 file. ->>>>29:23:27
value error in 29_23hour_part2 file. ->>>>29:23:27
index error in 29_23hour_part2 file. ->>>>29:23:26

In [88]:
df= pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\29_9hour_part4.csv')
col_names=[]
'''num_datapoints=int((len(df.columns)-1)/3)
partID=0
if(partID==1):
    start_num=1
elif(partID==2):
    start_num=16
elif(partID==3):
    start_num=31
else:
    start_num=46
for i in range(16,num_datapoints+1):
    name=":"+str(i)
    #print(name)
#print(num_datapoints)'''
for col in df.columns:
    col_names.append(col)
unique_col_names=col_names[1:][::3]
for names in unique_col_names:
    minute=names.split("_")[1]
    print(minute)
#print(unique_col_names[0].split("_"))

46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [98]:
df= pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\TEST\29_9hour_part1.csv')

In [100]:
df.insert(4, 'datetime_1', '29:9:1')

ValueError: cannot insert datetime_1, already exists

In [ ]:
def insertDateTime:

In [101]:
df

,bike_id,lat_1,lon_1,range_1,datetime_1,lat_2,lon_2,range_2,lat_3,lon_3,...,range_11,lat_12,lon_12,range_12,lat_13,lon_13,range_13,lat_14,lon_14,range_14
0,fed4898c-79c9-4f14-bb40-d25583462eaf,-37.79976,144.948637,10878.0,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,NaN,NaN,NaN,29:9:1,-37.825937,144.963211,15677.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71ea0882-022c-48b3-9d9f-d865c728b5e5,NaN,NaN,NaN,29:9:1,-37.799760,144.948637,10878.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e8588e47-6d31-47e5-bc04-13fba9bc16e7,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30746f1c-bfb9-4a70-a60c-7351eba02fdf,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,d8023f62-4977-49ec-892c-ec56172eff92,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,d242a701-d0ce-4387-8dcd-53b82d420a48,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,03fe767c-7b5c-4f7f-8332-475e33e51d0c,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,140d5b6f-3bf2-4f27-97ce-315dba3a9cd1,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9ba3b9ea-90bb-431d-8529-3c9c300fa8c1,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,5103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,04832e43-b5ea-43b8-b197-25063e939e95,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-37.806729,144.987762,5999.0,NaN,NaN,NaN
13,5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c,NaN,NaN,NaN,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.811613,145.011,10215.0

In [107]:
for i in range(1,15):
    location =i*4
    column_name="date:time_"+str(i)
    value=
    df.insert(location, column_name, value)

4
8
12
16
20
24
28
32
36
40
44
48
52
56

In [150]:
df= pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\TEST\29_9hour_part4.csv')
col_names=[]
datetime_list=[]
for col in df.columns:
    col_names.append(col)
unique_col_names=col_names[1:][::3]
uni_name_count=len(unique_col_names)
for names in unique_col_names:
    minute=names.split("_")[1]
    date_time=str(29)+":"+str(9)+":"+str(minute)
    datetime_list.append(date_time)
#print(datetime_list)

for item in datetime_list:
    col_common_name=item.split(":")[2]
    item_index=datetime_list.index(item)
    location =int(item_index+1)*4
    column_name="date:time_"+col_common_name
    value=item
    #print(location)
    df.insert(location, column_name, value)
print("added!!!!!!")

['29:9:47', '29:9:48', '29:9:49', '29:9:50', '29:9:51', '29:9:52', '29:9:53', '29:9:54', '29:9:55', '29:9:56', '29:9:57', '29:9:58', '29:9:46', '29:9:59']
added!!!!!!

In [135]:
df.to_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\TEST\29_9hour_part2_dateAdded.csv',index=False)

In [151]:
df.to_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\TEST\29_9hour_part4_dateAdded.csv',index=False)

In [143]:
df

,bike_id,lat_17,lon_17,range_17,date:time_17,lat_18,lon_18,range_18,date:time_18,lat_19,...,date:time_26,lon_26,lon_27,lon_28,range_26,range_27,range_28,lat_29,lon_29,range_29
0,90abe697-bc95-4e3d-8ad5-eae65be5fa59,-37.813879,144.942298,5635.0,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15abf2ae-c6a3-417a-8d22-18785b4311d6,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,-37.821766,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35f71ef0-521f-4e18-9918-dfbce013bf2b,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23dcce76-6829-4d34-a3e1-472c7dcec584,-37.812910,144.999968,14664.0,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7fe13a86-1a8b-4893-b00c-3203d8824f6a,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,84b694fb-ee34-4d7b-b5de-7ccfc7d8d74c,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,35f71ef0-521f-4e18-9918-dfbce013bf2b,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,00c2477c-f9c0-4ca7-9407-1ec97b863419,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,057d82f0-8c25-4fc9-8434-5b3bd3d954fb,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,829636c9-cae8-4d36-a64d-538174842588,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7abf75ef-2c8b-4fd2-a8e0-ce92187a67b2,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,808d98c8-2657-4fad-a8d2-2475a1292757,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,144.975814,NaN,NaN,16193.0,NaN,NaN,NaN,NaN,NaN
13,90abe697-bc95-4e3d-8ad5-eae65be5fa59,-37.813879,144.942298,5635.0,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15abf2ae-c6a3-417a-8d22-18785b4311d6,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,-37.821766,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,953c187d-9156-4b98-80c0-e8f179b5dd6b,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,8d59d1fe-ac02-4d9a-a54e-cfd5441b1532,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,215478d1-6d5d-47ad-8f83-5370ffffe649,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,87305e9e-860e-4934-a836-aa6302317d39,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,a475815a-ff9a-4d9d-a51c-82453e0e6da0,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,144.963107,NaN,NaN,6745.0,NaN,NaN,NaN,NaN,NaN
20,0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,d55ef5e8-0c1a-476a-abb3-d4cba4cdc54f,NaN,NaN,NaN,29:9:17,NaN,NaN,NaN,29:9:18,NaN,...,29:9:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\WithDateTime\upadteTimeTest.csv')

In [10]:
df

,bike_id,lat_1,lon_1,range_1,lat_2,lon_2,range_2
0,fed4898c-79c9-4f14-bb40-d25583462eaf,-37.79976,144.948637,10878.0,NaN,NaN,NaN
1,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,NaN,NaN,NaN,-37.825937,144.963211,15677.0
2,71ea0882-022c-48b3-9d9f-d865c728b5e5,NaN,NaN,NaN,-37.799760,144.948637,10878.0

In [22]:
import numpy as np
#df.insert(location, column_name, value)
p_cell=df.iloc[0]['range_1']
print(np.isnan(p_cell))
if(np.isnan(p_cell)==False):
    df.insert(4, 'datetime_1', '29:9:1')

False

In [23]:
df

,bike_id,lat_1,lon_1,range_1,datetime_1,lat_2,lon_2,range_2
0,fed4898c-79c9-4f14-bb40-d25583462eaf,-37.79976,144.948637,10878.0,29:9:1,NaN,NaN,NaN
1,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,NaN,NaN,NaN,29:9:1,-37.825937,144.963211,15677.0
2,71ea0882-022c-48b3-9d9f-d865c728b5e5,NaN,NaN,NaN,29:9:1,-37.799760,144.948637,10878.0

In [40]:
def addDateTime_test(day):
    for hour in range(0,24): 
        for partID in range(1,5):
            try:
                df= pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\TEST\{}_{}hour_part{}.csv'.format(day,hour,partID))
            except FileNotFoundError:
                continue
            col_names=[]
            datetime_list=[]
            for col in df.columns:
                col_names.append(col)
            unique_col_names=col_names[1:][::3]
            #take only lat_ like names
            #uni_name_count=len(unique_col_names)
            for names in unique_col_names:
                minute=names.split("_")[1]
                date_time=str(day)+":"+str(hour)+":"+str(minute)
                datetime_list.append(date_time)
            #print(datetime_list)

            for item in datetime_list:
                col_common_name=item.split(":")[2]
                item_index=datetime_list.index(item)
                location =int(item_index+1)*4
                column_name="date:time_"+col_common_name
                value=item
                #df['date:time_1']=np.where(df['range_1'].notnull(),'value',np.NaN)
                #print(location)
                try:
                    df.insert(location, column_name, value)
                except ValueError:
                    print("value error in "+ str(day)+"_"+str(hour)+"hour_part"+str(partID)+" file. ->>>>"+str(value))
                    continue
                except IndexError:
                    print("index error in "+ str(day)+"_"+str(hour)+"hour_part"+str(partID)+" file. ->>>>"+str(value))
                    continue
                date_column_name="date:time_"+col_common_name
                range_column_name="range_"+col_common_name
                #df['date:time_1']=np.where(df['range_1'].notnull(),'value',np.NaN)
                df[date_column_name]=np.where(df[range_column_name].notnull(),value,np.NaN)
            df.to_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\WithDateTime\test\{}_{}hour_part{}_dateAdded.csv'.format(day,hour,partID),index=False)
           # print("added!!!!!!")

Test function by setting small number of files into a test folder

In [41]:
addDateTime_test(29)

                                 bike_id     lat_1       lon_1  range_1  \
0   fed4898c-79c9-4f14-bb40-d25583462eaf -37.79976  144.948637  10878.0
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc       NaN         NaN      NaN
2   71ea0882-022c-48b3-9d9f-d865c728b5e5       NaN         NaN      NaN
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7       NaN         NaN      NaN
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf       NaN         NaN      NaN
5   d8023f62-4977-49ec-892c-ec56172eff92       NaN         NaN      NaN
6   d242a701-d0ce-4387-8dcd-53b82d420a48       NaN         NaN      NaN
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c       NaN         NaN      NaN
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1       NaN         NaN      NaN
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4       NaN         NaN      NaN
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1       NaN         NaN      NaN
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4       NaN         NaN      NaN
12  04832e43-b5ea-43b8-b197-25063e939e95       NaN         NaN      NaN
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c       NaN         NaN      NaN

   date:time_1      lat_2       lon_2  range_2  lat_3  lon_3  ...  range_11  \
0       29:9:1        NaN         NaN      NaN    NaN    NaN  ...       NaN
1          nan -37.825937  144.963211  15677.0    NaN    NaN  ...       NaN
2          nan -37.799760  144.948637  10878.0    NaN    NaN  ...       NaN
3          nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
4          nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
5          nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
6          nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
7          nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
8          nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
9          nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
10         nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
11         nan        NaN         NaN      NaN    NaN    NaN  ...    5103.0
12         nan        NaN         NaN      NaN    NaN    NaN  ...       NaN
13         nan        NaN         NaN      NaN    NaN    NaN  ...       NaN

    lat_12  lon_12  range_12     lat_13      lon_13  range_13     lat_14  \
0      NaN     NaN       NaN        NaN         NaN       NaN        NaN
1      NaN     NaN       NaN        NaN         NaN       NaN        NaN
2      NaN     NaN       NaN        NaN         NaN       NaN        NaN
3      NaN     NaN       NaN        NaN         NaN       NaN        NaN
4      NaN     NaN       NaN        NaN         NaN       NaN        NaN
5      NaN     NaN       NaN        NaN         NaN       NaN        NaN
6      NaN     NaN       NaN        NaN         NaN       NaN        NaN
7      NaN     NaN       NaN        NaN         NaN       NaN        NaN
8      NaN     NaN       NaN        NaN         NaN       NaN        NaN
9      NaN     NaN       NaN        NaN         NaN       NaN        NaN
10     NaN     NaN       NaN        NaN         NaN       NaN        NaN
11     NaN     NaN       NaN        NaN         NaN       NaN        NaN
12     NaN     NaN       NaN -37.806729  144.987762    5999.0        NaN
13     NaN     NaN       NaN        NaN         NaN       NaN -37.811613

     lon_14  range_14
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN
3       NaN       NaN
4       NaN       NaN
5       NaN       NaN
6       NaN       NaN
7       NaN       NaN
8       NaN       NaN
9       NaN       NaN
10      NaN       NaN
11      NaN       NaN
12      NaN       NaN
13  145.011   10215.0

[14 rows x 44 columns]
                                 bike_id     lat_1       lon_1  range_1  \
0   fed4898c-79c9-4f14-bb40-d25583462eaf -37.79976  144.948637  10878.0
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc       NaN         NaN      NaN
2   71ea0882-022c-48b3-9d9f-d865c728b5e5       NaN         NaN      NaN
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7       NaN         NaN      NaN
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf       NaN         NaN      NaN
5   d8023f62-4977-49ec-892c-ec56172eff92       NaN         NaN      NaN
6   d242a701-d0ce-4387-8dcd-53b82d420a48       NaN         NaN      NaN
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c       NaN         NaN      NaN
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1       NaN         NaN      NaN
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4       NaN         NaN      NaN
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1       NaN         NaN      NaN
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4       NaN         NaN      NaN
12  04832e43-b5ea-43b8-b197-25063e939e95       NaN         NaN      NaN
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c       NaN         NaN      NaN

   date:time_1      lat_2       lon_2  range_2 date:time_2  lat_3  ...  \
0       29:9:1        NaN         NaN      NaN         nan    NaN  ...
1          nan -37.825937  144.963211  15677.0      29:9:2    NaN  ...
2          nan -37.799760  144.948637  10878.0      29:9:2    NaN  ...
3          nan        NaN         NaN      NaN         nan    NaN  ...
4          nan        NaN         NaN      NaN         nan    NaN  ...
5          nan        NaN         NaN      NaN         nan    NaN  ...
6          nan        NaN         NaN      NaN         nan    NaN  ...
7          nan        NaN         NaN      NaN         nan    NaN  ...
8          nan        NaN         NaN      NaN         nan    NaN  ...
9          nan        NaN         NaN      NaN         nan    NaN  ...
10         nan        NaN         NaN      NaN         nan    NaN  ...
11         nan        NaN         NaN      NaN         nan    NaN  ...
12         nan        NaN         NaN      NaN         nan    NaN  ...
13         nan        NaN         NaN      NaN         nan    NaN  ...

    range_11  lat_12  lon_12  range_12     lat_13      lon_13  range_13  \
0        NaN     NaN     NaN       NaN        NaN         NaN       NaN
1        NaN     NaN     NaN       NaN        NaN         NaN       NaN
2        NaN     NaN     NaN       NaN        NaN         NaN       NaN
3        NaN     NaN     NaN       NaN        NaN         NaN       NaN
4        NaN     NaN     NaN       NaN        NaN         NaN       NaN
5        NaN     NaN     NaN       NaN        NaN         NaN       NaN
6        NaN     NaN     NaN       NaN        NaN         NaN       NaN
7        NaN     NaN     NaN       NaN        NaN         NaN       NaN
8        NaN     NaN     NaN       NaN        NaN         NaN       NaN
9        NaN     NaN     NaN       NaN        NaN         NaN       NaN
10       NaN     NaN     NaN       NaN        NaN         NaN       NaN
11    5103.0     NaN     NaN       NaN        NaN         NaN       NaN
12       NaN     NaN     NaN       NaN -37.806729  144.987762    5999.0
13       NaN     NaN     NaN       NaN        NaN         NaN       NaN

       lat_14   lon_14  range_14
0         NaN      NaN       NaN
1         NaN      NaN       NaN
2         NaN      NaN       NaN
3         NaN      NaN       NaN
4         NaN      NaN       NaN
5         NaN      NaN       NaN
6         NaN      NaN       NaN
7         NaN      NaN       NaN
8         NaN      NaN       NaN
9         NaN      NaN       NaN
10        NaN      NaN       NaN
11        NaN      NaN       NaN
12        NaN      NaN       NaN
13 -37.811613  145.011   10215.0

[14 rows x 45 columns]
                                 bike_id     lat_1       lon_1  range_1  \
0   fed4898c-79c9-4f14-bb40-d25583462eaf -37.79976  144.948637  10878.0
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc       NaN         NaN      NaN
2   71ea0882-022c-48b3-9d9f-d865c728b5e5       NaN         NaN      NaN
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7       NaN         NaN      NaN
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf       NaN         NaN      NaN
5   d8023f62-4977-49ec-892c-ec56172eff92       NaN         NaN      NaN
6   d242a701-d0ce-4387-8dcd-53b82d420a48       NaN         NaN      NaN
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c       NaN         NaN      NaN
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1       NaN         NaN      NaN
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4       NaN         NaN      NaN
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1       NaN         NaN      NaN
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4       NaN         NaN      NaN
12  04832e43-b5ea-43b8-b197-25063e939e95       NaN         NaN      NaN
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c       NaN         NaN      NaN

   date:time_1      lat_2       lon_2  range_2 date:time_2  lat_3  ...  \
0       29:9:1        NaN         NaN      NaN         nan    NaN  ...
1          nan -37.825937  144.963211  15677.0      29:9:2    NaN  ...
2          nan -37.799760  144.948637  10878.0      29:9:2    NaN  ...
3          nan        NaN         NaN      NaN         nan    NaN  ...
4          nan        NaN         NaN      NaN         nan    NaN  ...
5          nan        NaN         NaN      NaN         nan    NaN  ...
6          nan        NaN         NaN      NaN         nan    NaN  ...
7          nan        NaN         NaN      NaN         nan    NaN  ...
8          nan        NaN         NaN      NaN         nan    NaN  ...
9          nan        NaN         NaN      NaN         nan    NaN  ...
10         nan        NaN         NaN      NaN         nan    NaN  ...
11         nan        NaN         NaN      NaN         nan    NaN  ...
12         nan        NaN         NaN      NaN         nan    NaN  ...
13         nan        NaN         NaN      NaN         nan    NaN  ...

    range_11  lat_12 lon_12  range_12     lat_13      lon_13  range_13  \
0        NaN     NaN    NaN       NaN        NaN         NaN       NaN
1        NaN     NaN    NaN       NaN        NaN         NaN       NaN
2        NaN     NaN    NaN       NaN        NaN         NaN       NaN
3        NaN     NaN    NaN       NaN        NaN         NaN       NaN
4        NaN     NaN    NaN       NaN        NaN         NaN       NaN
5        NaN     NaN    NaN       NaN        NaN         NaN       NaN
6        NaN     NaN    NaN       NaN        NaN         NaN       NaN
7        NaN     NaN    NaN       NaN        NaN         NaN       NaN
8        NaN     NaN    NaN       NaN        NaN         NaN       NaN
9        NaN     NaN    NaN       NaN        NaN         NaN       NaN
10       NaN     NaN    NaN       NaN        NaN         NaN       NaN
11    5103.0     NaN    NaN       NaN        NaN         NaN       NaN
12       NaN     NaN    NaN       NaN -37.806729  144.987762    5999.0
13       NaN     NaN    NaN       NaN        NaN         NaN       NaN

       lat_14   lon_14  range_14
0         NaN      NaN       NaN
1         NaN      NaN       NaN
2         NaN      NaN       NaN
3         NaN      NaN       NaN
4         NaN      NaN       NaN
5         NaN      NaN       NaN
6         NaN      NaN       NaN
7         NaN      NaN       NaN
8         NaN      NaN       NaN
9         NaN      NaN       NaN
10        NaN      NaN       NaN
11        NaN      NaN       NaN
12        NaN      NaN       NaN
13 -37.811613  145.011   10215.0

[14 rows x 46 columns]
                                 bike_id     lat_1       lon_1  range_1  \
0   fed4898c-79c9-4f14-bb40-d25583462eaf -37.79976  144.948637  10878.0
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc       NaN         NaN      NaN
2   71ea0882-022c-48b3-9d9f-d865c728b5e5       NaN         NaN      NaN
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7       NaN         NaN      NaN
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf       NaN         NaN      NaN
5   d8023f62-4977-49ec-892c-ec56172eff92       NaN         NaN      NaN
6   d242a701-d0ce-4387-8dcd-53b82d420a48       NaN         NaN      NaN
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c       NaN         NaN      NaN
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1       NaN         NaN      NaN
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4       NaN         NaN      NaN
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1       NaN         NaN      NaN
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4       NaN         NaN      NaN
12  04832e43-b5ea-43b8-b197-25063e939e95       NaN         NaN      NaN
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c       NaN         NaN      NaN

   date:time_1      lat_2       lon_2  range_2 date:time_2  lat_3  ...  \
0       29:9:1        NaN         NaN      NaN         nan    NaN  ...
1          nan -37.825937  144.963211  15677.0      29:9:2    NaN  ...
2          nan -37.799760  144.948637  10878.0      29:9:2    NaN  ...
3          nan        NaN         NaN      NaN         nan    NaN  ...
4          nan        NaN         NaN      NaN         nan    NaN  ...
5          nan        NaN         NaN      NaN         nan    NaN  ...
6          nan        NaN         NaN      NaN         nan    NaN  ...
7          nan        NaN         NaN      NaN         nan    NaN  ...
8          nan        NaN         NaN      NaN         nan    NaN  ...
9          nan        NaN         NaN      NaN         nan    NaN  ...
10         nan        NaN         NaN      NaN         nan    NaN  ...
11         nan        NaN         NaN      NaN         nan    NaN  ...
12         nan        NaN         NaN      NaN         nan    NaN  ...
13         nan        NaN         NaN      NaN         nan    NaN  ...

    range_11  lat_12 lon_12  range_12     lat_13      lon_13 range_13  \
0        NaN     NaN    NaN       NaN        NaN         NaN      NaN
1        NaN     NaN    NaN       NaN        NaN         NaN      NaN
2        NaN     NaN    NaN       NaN        NaN         NaN      NaN
3        NaN     NaN    NaN       NaN        NaN         NaN      NaN
4        NaN     NaN    NaN       NaN        NaN         NaN      NaN
5        NaN     NaN    NaN       NaN        NaN         NaN      NaN
6        NaN     NaN    NaN       NaN        NaN         NaN      NaN
7        NaN     NaN    NaN       NaN        NaN         NaN      NaN
8        NaN     NaN    NaN       NaN        NaN         NaN      NaN
9        NaN     NaN    NaN       NaN        NaN         NaN      NaN
10       NaN     NaN    NaN       NaN        NaN         NaN      NaN
11    5103.0     NaN    NaN       NaN        NaN         NaN      NaN
12       NaN     NaN    NaN       NaN -37.806729  144.987762   5999.0
13       NaN     NaN    NaN       NaN        NaN         NaN      NaN

       lat_14   lon_14  range_14
0         NaN      NaN       NaN
1         NaN      NaN       NaN
2         NaN      NaN       NaN
3         NaN      NaN       NaN
4         NaN      NaN       NaN
5         NaN      NaN       NaN
6         NaN      NaN       NaN
7         NaN      NaN       NaN
8         NaN      NaN       NaN
9         NaN      NaN       NaN
10        NaN      NaN       NaN
11        NaN      NaN       NaN
12        NaN      NaN       NaN
13 -37.811613  145.011   10215.0

[14 rows x 47 columns]
                                 bike_id     lat_1       lon_1  range_1  \
0   fed4898c-79c9-4f14-bb40-d25583462eaf -37.79976  144.948637  10878.0
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc       NaN         NaN      NaN
2   71ea0882-022c-48b3-9d9f-d865c728b5e5       NaN         NaN      NaN
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7       NaN         NaN      NaN
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf       NaN         NaN      NaN
5   d8023f62-4977-49ec-892c-ec56172eff92       NaN         NaN      NaN
6   d242a701-d0ce-4387-8dcd-53b82d420a48       NaN         NaN      NaN
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c       NaN         NaN      NaN
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1       NaN         NaN      NaN
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4       NaN         NaN      NaN
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1       NaN         NaN      NaN
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4       NaN         NaN      NaN
12  04832e43-b5ea-43b8-b197-25063e939e95       NaN         NaN      NaN
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c       NaN         NaN      NaN

   date:time_1      lat_2       lon_2  range_2 date:time_2  lat_3  ...  \
0       29:9:1        NaN         NaN      NaN         nan    NaN  ...
1          nan -37.825937  144.963211  15677.0      29:9:2    NaN  ...
2          nan -37.799760  144.948637  10878.0      29:9:2    NaN  ...
3          nan        NaN         NaN      NaN         nan    NaN  ...
4          nan        NaN         NaN      NaN         nan    NaN  ...
5          nan        NaN         NaN      NaN         nan    NaN  ...
6          nan        NaN         NaN      NaN         nan    NaN  ...
7          nan        NaN         NaN      NaN         nan    NaN  ...
8          nan        NaN         NaN      NaN         nan    NaN  ...
9          nan        NaN         NaN      NaN         nan    NaN  ...
10         nan        NaN         NaN      NaN         nan    NaN  ...
11         nan        NaN         NaN      NaN         nan    NaN  ...
12         nan        NaN         NaN      NaN         nan    NaN  ...
13         nan        NaN         NaN      NaN         nan    NaN  ...

    range_11  lat_12 lon_12  range_12     lat_13      lon_13 range_13  \
0        NaN     NaN    NaN       NaN        NaN         NaN      NaN
1        NaN     NaN    NaN       NaN        NaN         NaN      NaN
2        NaN     NaN    NaN       NaN        NaN         NaN      NaN
3        NaN     NaN    NaN       NaN        NaN         NaN      NaN
4        NaN     NaN    NaN       NaN        NaN         NaN      NaN
5        NaN     NaN    NaN       NaN        NaN         NaN      NaN
6        NaN     NaN    NaN       NaN        NaN         NaN      NaN
7        NaN     NaN    NaN       NaN        NaN         NaN      NaN
8        NaN     NaN    NaN       NaN        NaN         NaN      NaN
9        NaN     NaN    NaN       NaN        NaN         NaN      NaN
10       NaN     NaN    NaN       NaN        NaN         NaN      NaN
11    5103.0     NaN    NaN       NaN        NaN         NaN      NaN
12       NaN     NaN    NaN       NaN -37.806729  144.987762   5999.0
13       NaN     NaN    NaN       NaN        NaN         NaN      NaN

       lat_14   lon_14  range_14
0         NaN      NaN       NaN
1         NaN      NaN       NaN
2         NaN      NaN       NaN
3         NaN      NaN       NaN
4         NaN      NaN       NaN
5         NaN      NaN       NaN
6         NaN      NaN       NaN
7         NaN      NaN       NaN
8         NaN      NaN       NaN
9         NaN      NaN       NaN
10        NaN      NaN       NaN
11        NaN      NaN       NaN
12        NaN      NaN       NaN
13 -37.811613  145.011   10215.0

[14 rows x 48 columns]
                                 bike_id     lat_1       lon_1  range_1  \
0   fed4898c-79c9-4f14-bb40-d25583462eaf -37.79976  144.948637  10878.0
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc       NaN         NaN      NaN
2   71ea0882-022c-48b3-9d9f-d865c728b5e5       NaN         NaN      NaN
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7       NaN         NaN      NaN
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf       NaN         NaN      NaN
5   d8023f62-4977-49ec-892c-ec56172eff92       NaN         NaN      NaN
6   d242a701-d0ce-4387-8dcd-53b82d420a48       NaN         NaN      NaN
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c       NaN         NaN      NaN
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1       NaN         NaN      NaN
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4       NaN         NaN      NaN
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1       NaN         NaN      NaN
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4       NaN         NaN      NaN
12  04832e43-b5ea-43b8-b197-25063e939e95       NaN         NaN      NaN
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c       NaN         NaN      NaN

   date:time_1      lat_2       lon_2  range_2 date:time_2  lat_3  ...  \
0       29:9:1        NaN         NaN      NaN         nan    NaN  ...
1          nan -37.825937  144.963211  15677.0      29:9:2    NaN  ...

                                 bike_id     lat_17      lon_17  range_17  \
0   90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
1   15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
2   0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
3   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
4   23dcce76-6829-4d34-a3e1-472c7dcec584 -37.812910  144.999968   14664.0
5   7fe13a86-1a8b-4893-b00c-3203d8824f6a        NaN         NaN       NaN
6   84b694fb-ee34-4d7b-b5de-7ccfc7d8d74c        NaN         NaN       NaN
7   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
8   00c2477c-f9c0-4ca7-9407-1ec97b863419        NaN         NaN       NaN
9   057d82f0-8c25-4fc9-8434-5b3bd3d954fb        NaN         NaN       NaN
10  829636c9-cae8-4d36-a64d-538174842588        NaN         NaN       NaN
11  7abf75ef-2c8b-4fd2-a8e0-ce92187a67b2        NaN         NaN       NaN
12  808d98c8-2657-4fad-a8d2-2475a1292757        NaN         NaN       NaN
13  90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
14  15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
15  953c187d-9156-4b98-80c0-e8f179b5dd6b        NaN         NaN       NaN
16  8d59d1fe-ac02-4d9a-a54e-cfd5441b1532        NaN         NaN       NaN
17  215478d1-6d5d-47ad-8f83-5370ffffe649        NaN         NaN       NaN
18  87305e9e-860e-4934-a836-aa6302317d39        NaN         NaN       NaN
19  a475815a-ff9a-4d9d-a51c-82453e0e6da0        NaN         NaN       NaN
20  0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
21  d55ef5e8-0c1a-476a-abb3-d4cba4cdc54f        NaN         NaN       NaN

   date:time_17  lat_18  lon_18  range_18     lat_19      lon_19  ...  \
0       29:9:17     NaN     NaN       NaN        NaN         NaN  ...
1           nan     NaN     NaN       NaN -37.821766  144.966016  ...
2           nan     NaN     NaN       NaN        NaN         NaN  ...
3           nan     NaN     NaN       NaN        NaN         NaN  ...
4       29:9:17     NaN     NaN       NaN        NaN         NaN  ...
5           nan     NaN     NaN       NaN        NaN         NaN  ...
6           nan     NaN     NaN       NaN        NaN         NaN  ...
7           nan     NaN     NaN       NaN        NaN         NaN  ...
8           nan     NaN     NaN       NaN        NaN         NaN  ...
9           nan     NaN     NaN       NaN        NaN         NaN  ...
10          nan     NaN     NaN       NaN        NaN         NaN  ...
11          nan     NaN     NaN       NaN        NaN         NaN  ...
12          nan     NaN     NaN       NaN        NaN         NaN  ...
13      29:9:17     NaN     NaN       NaN        NaN         NaN  ...
14          nan     NaN     NaN       NaN -37.821766  144.966016  ...
15          nan     NaN     NaN       NaN        NaN         NaN  ...
16          nan     NaN     NaN       NaN        NaN         NaN  ...
17          nan     NaN     NaN       NaN        NaN         NaN  ...
18          nan     NaN     NaN       NaN        NaN         NaN  ...
19          nan     NaN     NaN       NaN        NaN         NaN  ...
20          nan     NaN     NaN       NaN        NaN         NaN  ...
21          nan     NaN     NaN       NaN        NaN         NaN  ...

    range_26  lat_27  lon_27  range_27  lat_28  lon_28  range_28  lat_29  \
0        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
1        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
2        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
3        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
4        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
5        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
6        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
7        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
8        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
9        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
10       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
11       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
12   16193.0     NaN     NaN       NaN     NaN     NaN       NaN     NaN
13       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
14       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
15       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
16       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
17       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
18       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
19    6745.0     NaN     NaN       NaN     NaN     NaN       NaN     NaN
20       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
21       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN

    lon_29  range_29
0      NaN       NaN
1      NaN       NaN
2      NaN       NaN
3      NaN       NaN
4      NaN       NaN
5      NaN       NaN
6      NaN       NaN
7      NaN       NaN
8      NaN       NaN
9      NaN       NaN
10     NaN       NaN
11     NaN       NaN
12     NaN       NaN
13     NaN       NaN
14     NaN       NaN
15     NaN       NaN
16     NaN       NaN
17     NaN       NaN
18     NaN       NaN
19     NaN       NaN
20     NaN       NaN
21     NaN       NaN

[22 rows x 44 columns]
                                 bike_id     lat_17      lon_17  range_17  \
0   90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
1   15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
2   0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
3   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
4   23dcce76-6829-4d34-a3e1-472c7dcec584 -37.812910  144.999968   14664.0
5   7fe13a86-1a8b-4893-b00c-3203d8824f6a        NaN         NaN       NaN
6   84b694fb-ee34-4d7b-b5de-7ccfc7d8d74c        NaN         NaN       NaN
7   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
8   00c2477c-f9c0-4ca7-9407-1ec97b863419        NaN         NaN       NaN
9   057d82f0-8c25-4fc9-8434-5b3bd3d954fb        NaN         NaN       NaN
10  829636c9-cae8-4d36-a64d-538174842588        NaN         NaN       NaN
11  7abf75ef-2c8b-4fd2-a8e0-ce92187a67b2        NaN         NaN       NaN
12  808d98c8-2657-4fad-a8d2-2475a1292757        NaN         NaN       NaN
13  90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
14  15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
15  953c187d-9156-4b98-80c0-e8f179b5dd6b        NaN         NaN       NaN
16  8d59d1fe-ac02-4d9a-a54e-cfd5441b1532        NaN         NaN       NaN
17  215478d1-6d5d-47ad-8f83-5370ffffe649        NaN         NaN       NaN
18  87305e9e-860e-4934-a836-aa6302317d39        NaN         NaN       NaN
19  a475815a-ff9a-4d9d-a51c-82453e0e6da0        NaN         NaN       NaN
20  0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
21  d55ef5e8-0c1a-476a-abb3-d4cba4cdc54f        NaN         NaN       NaN

   date:time_17  lat_18  lon_18  range_18 date:time_18     lat_19  ...  \
0       29:9:17     NaN     NaN       NaN          nan        NaN  ...
1           nan     NaN     NaN       NaN          nan -37.821766  ...
2           nan     NaN     NaN       NaN          nan        NaN  ...
3           nan     NaN     NaN       NaN          nan        NaN  ...
4       29:9:17     NaN     NaN       NaN          nan        NaN  ...
5           nan     NaN     NaN       NaN          nan        NaN  ...
6           nan     NaN     NaN       NaN          nan        NaN  ...
7           nan     NaN     NaN       NaN          nan        NaN  ...
8           nan     NaN     NaN       NaN          nan        NaN  ...
9           nan     NaN     NaN       NaN          nan        NaN  ...
10          nan     NaN     NaN       NaN          nan        NaN  ...
11          nan     NaN     NaN       NaN          nan        NaN  ...
12          nan     NaN     NaN       NaN          nan        NaN  ...
13      29:9:17     NaN     NaN       NaN          nan        NaN  ...
14          nan     NaN     NaN       NaN          nan -37.821766  ...
15          nan     NaN     NaN       NaN          nan        NaN  ...
16          nan     NaN     NaN       NaN          nan        NaN  ...
17          nan     NaN     NaN       NaN          nan        NaN  ...
18          nan     NaN     NaN       NaN          nan        NaN  ...
19          nan     NaN     NaN       NaN          nan        NaN  ...
20          nan     NaN     NaN       NaN          nan        NaN  ...
21          nan     NaN     NaN       NaN          nan        NaN  ...

    range_26  lat_27  lon_27  range_27  lat_28  lon_28  range_28  lat_29  \
0        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
1        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
2        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
3        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
4        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
5        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
6        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
7        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
8        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
9        NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
10       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
11       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
12   16193.0     NaN     NaN       NaN     NaN     NaN       NaN     NaN
13       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
14       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
15       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
16       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
17       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
18       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
19    6745.0     NaN     NaN       NaN     NaN     NaN       NaN     NaN
20       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN
21       NaN     NaN     NaN       NaN     NaN     NaN       NaN     NaN

    lon_29  range_29
0      NaN       NaN
1      NaN       NaN
2      NaN       NaN
3      NaN       NaN
4      NaN       NaN
5      NaN       NaN
6      NaN       NaN
7      NaN       NaN
8      NaN       NaN
9      NaN       NaN
10     NaN       NaN
11     NaN       NaN
12     NaN       NaN
13     NaN       NaN
14     NaN       NaN
15     NaN       NaN
16     NaN       NaN
17     NaN       NaN
18     NaN       NaN
19     NaN       NaN
20     NaN       NaN
21     NaN       NaN

[22 rows x 45 columns]
                                 bike_id     lat_17      lon_17  range_17  \
0   90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
1   15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
2   0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
3   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
4   23dcce76-6829-4d34-a3e1-472c7dcec584 -37.812910  144.999968   14664.0
5   7fe13a86-1a8b-4893-b00c-3203d8824f6a        NaN         NaN       NaN
6   84b694fb-ee34-4d7b-b5de-7ccfc7d8d74c        NaN         NaN       NaN
7   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
8   00c2477c-f9c0-4ca7-9407-1ec97b863419        NaN         NaN       NaN
9   057d82f0-8c25-4fc9-8434-5b3bd3d954fb        NaN         NaN       NaN
10  829636c9-cae8-4d36-a64d-538174842588        NaN         NaN       NaN
11  7abf75ef-2c8b-4fd2-a8e0-ce92187a67b2        NaN         NaN       NaN
12  808d98c8-2657-4fad-a8d2-2475a1292757        NaN         NaN       NaN
13  90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
14  15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
15  953c187d-9156-4b98-80c0-e8f179b5dd6b        NaN         NaN       NaN
16  8d59d1fe-ac02-4d9a-a54e-cfd5441b1532        NaN         NaN       NaN
17  215478d1-6d5d-47ad-8f83-5370ffffe649        NaN         NaN       NaN
18  87305e9e-860e-4934-a836-aa6302317d39        NaN         NaN       NaN
19  a475815a-ff9a-4d9d-a51c-82453e0e6da0        NaN         NaN       NaN
20  0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
21  d55ef5e8-0c1a-476a-abb3-d4cba4cdc54f        NaN         NaN       NaN

   date:time_17  lat_18  lon_18  range_18 date:time_18     lat_19  ...  \
0       29:9:17     NaN     NaN       NaN          nan        NaN  ...
1           nan     NaN     NaN       NaN          nan -37.821766  ...
2           nan     NaN     NaN       NaN          nan        NaN  ...
3           nan     NaN     NaN       NaN          nan        NaN  ...
4       29:9:17     NaN     NaN       NaN          nan        NaN  ...
5           nan     NaN     NaN       NaN          nan        NaN  ...
6           nan     NaN     NaN       NaN          nan        NaN  ...
7           nan     NaN     NaN       NaN          nan        NaN  ...
8           nan     NaN     NaN       NaN          nan        NaN  ...
9           nan     NaN     NaN       NaN          nan        NaN  ...
10          nan     NaN     NaN       NaN          nan        NaN  ...
11          nan     NaN     NaN       NaN          nan        NaN  ...
12          nan     NaN     NaN       NaN          nan        NaN  ...
13      29:9:17     NaN     NaN       NaN          nan        NaN  ...
14          nan     NaN     NaN       NaN          nan -37.821766  ...
15          nan     NaN     NaN       NaN          nan        NaN  ...
16          nan     NaN     NaN       NaN          nan        NaN  ...
17          nan     NaN     NaN       NaN          nan        NaN  ...
18          nan     NaN     NaN       NaN          nan        NaN  ...
19          nan     NaN     NaN       NaN          nan        NaN  ...
20          nan     NaN     NaN       NaN          nan        NaN  ...
21          nan     NaN     NaN       NaN          nan        NaN  ...

    range_26  lat_27 lon_27  range_27  lat_28  lon_28  range_28  lat_29  \
0        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
1        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
2        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
3        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
4        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
5        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
6        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
7        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
8        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
9        NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
10       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
11       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
12   16193.0     NaN    NaN       NaN     NaN     NaN       NaN     NaN
13       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
14       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
15       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
16       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
17       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
18       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
19    6745.0     NaN    NaN       NaN     NaN     NaN       NaN     NaN
20       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN
21       NaN     NaN    NaN       NaN     NaN     NaN       NaN     NaN

    lon_29  range_29
0      NaN       NaN
1      NaN       NaN
2      NaN       NaN
3      NaN       NaN
4      NaN       NaN
5      NaN       NaN
6      NaN       NaN
7      NaN       NaN
8      NaN       NaN
9      NaN       NaN
10     NaN       NaN
11     NaN       NaN
12     NaN       NaN
13     NaN       NaN
14     NaN       NaN
15     NaN       NaN
16     NaN       NaN
17     NaN       NaN
18     NaN       NaN
19     NaN       NaN
20     NaN       NaN
21     NaN       NaN

[22 rows x 46 columns]
                                 bike_id     lat_17      lon_17  range_17  \
0   90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
1   15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
2   0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
3   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
4   23dcce76-6829-4d34-a3e1-472c7dcec584 -37.812910  144.999968   14664.0
5   7fe13a86-1a8b-4893-b00c-3203d8824f6a        NaN         NaN       NaN
6   84b694fb-ee34-4d7b-b5de-7ccfc7d8d74c        NaN         NaN       NaN
7   35f71ef0-521f-4e18-9918-dfbce013bf2b        NaN         NaN       NaN
8   00c2477c-f9c0-4ca7-9407-1ec97b863419        NaN         NaN       NaN
9   057d82f0-8c25-4fc9-8434-5b3bd3d954fb        NaN         NaN       NaN
10  829636c9-cae8-4d36-a64d-538174842588        NaN         NaN       NaN
11  7abf75ef-2c8b-4fd2-a8e0-ce92187a67b2        NaN         NaN       NaN
12  808d98c8-2657-4fad-a8d2-2475a1292757        NaN         NaN       NaN
13  90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298    5635.0
14  15abf2ae-c6a3-417a-8d22-18785b4311d6        NaN         NaN       NaN
15  953c187d-9156-4b98-80c0-e8f179b5dd6b        NaN         NaN       NaN
16  8d59d1fe-ac02-4d9a-a54e-cfd5441b1532        NaN         NaN       NaN
17  215478d1-6d5d-47ad-8f83-5370ffffe649        NaN         NaN       NaN
18  87305e9e-860e-4934-a836-aa6302317d39        NaN         NaN       NaN
19  a475815a-ff9a-4d9d-a51c-82453e0e6da0        NaN         NaN       NaN
20  0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2        NaN         NaN       NaN
21  d55ef5e8-0c1a-476a-abb3-d4cba4cdc54f        NaN         NaN       NaN

   date:time_17  lat_18  lon_18  range_18 date:time_18     lat_19  ...  \
0       29:9:17     NaN     NaN       NaN          nan        NaN  ...
1           nan     NaN     NaN       NaN          nan -37.821766  ...
2           nan     NaN     NaN       NaN          nan        NaN  ...
3           nan     NaN     NaN       NaN          nan        NaN  ...
4       29:9:17     NaN     NaN       NaN          nan        NaN  ...
5           nan     NaN     NaN       NaN          nan        NaN  ...
6           nan     NaN     NaN       NaN          nan        NaN  ...
7           nan     NaN     NaN       NaN          nan        NaN  ...
8           nan     NaN     NaN       NaN          nan        NaN  ...
9           nan     NaN     NaN       NaN          nan        NaN  ...
10          nan     NaN     NaN       NaN          nan        NaN  ...
11          nan     NaN     NaN       NaN          nan        NaN  ...
12          nan     NaN     NaN       NaN          nan        NaN  ...
13      29:9:17     NaN     NaN       NaN          nan        NaN  ...
14          nan     NaN     NaN       NaN          nan -37.821766  ...
15          nan     NaN     NaN       NaN          nan        NaN  ...
16          nan     NaN     NaN       NaN          nan        NaN  ...
17          nan     NaN     NaN       NaN          nan        NaN  ...
18          nan     NaN     NaN       NaN          nan        NaN  ...
19          nan     NaN     NaN       NaN          nan        NaN  ...
20          nan     NaN     NaN       NaN          nan        NaN  ...
21          nan     NaN     NaN       NaN          nan        NaN  ...

    range_26  lat_27 lon_27  range_27  lat_28  lon_28 range_28  lat_29  \