In [1]:
import pandas as pd

In [77]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Stopped\PerDay\7\AllHoursWithSuburb.csv')

In [47]:
df.head()

,bike_id,latitude,longitude,range,datetime,suburb
0,27c606f0-c9c0-49bd-b3bd-b5a3d3ddb00f,-37.814807,144.952815,19153,1:00:03,Melbourne
1,e5ec0baa-3388-4292-b4a9-811682352e9d,-37.841504,144.933781,1796,1:00:05,Port Melbourne
2,7a38d0d5-aa12-431d-adfc-df356a5f13ad,-37.817551,144.949955,18053,1:00:05,Docklands
3,bfca4a77-ede4-41d6-b2d8-4563e2237154,-37.816113,144.964254,6183,1:00:05,Melbourne
4,ca37ec6b-6c26-43a6-8d4c-48383e53ffb1,-37.779599,144.983877,14414,1:00:05,Fitzroy North

In [78]:
counts=df.groupby(['suburb'])['suburb'].count()

In [79]:
df_count=pd.DataFrame(counts)

In [80]:
df_count.columns=['count']

In [81]:
df_count.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Stopped\PerDay\7\TripCountsbySuburb.csv')