In [1]:
import pandas as pd

In [18]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\1_0hour_part2.csv')

In [19]:
xtrain = df[df.notna().all(axis=1)==True]

In [35]:
def availableBikes(day,part):
    for hour in range(0,24):
#1-15 minutes dataset
        try:
            df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\{}_{}hour_part{}.csv'.format(day,hour,part))
        except FileNotFoundError:
            continue
        new_df = df[df.notna().all(axis=1)==True]
        df=new_df.iloc[:,:4]
        df.to_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\Available\{}_{}hour_part{}.csv'.format(day,hour,part),index=False)

Take all for records which has no null cell and crearte new df. Then select 1 set of lat,long, range

In [37]:
for part in range (1,5):
    availableBikes(1,part)

# Merge available records of 1hour

In [53]:
def mergeAvailableBikesPerDay(day):
    df_list=[]
    for hour in range(0,24): 
        for part in range (1,5):
            df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\Available\{}_{}hour_part{}.csv'.format(day,hour,part))
            df.columns = ['bike_id', 'lat', 'lon', 'range']
            df_list.append(df)
        df_new=pd.concat(df_list, ignore_index=True)
        df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\Available\MergedByDay\{}_hour{}.csv'.format(day,hour), index=False)

In [54]:
mergeAvailableBikesPerDay(1)

In [136]:
def Average(lst):
    return sum(lst) / len(lst)
def countAvailableStartStop15Minutes(day):
    row=[]
    for hour in range(0,24):
        available_list=[]
        start_list=[]
        stop_list=[]
        for part in range(1,5):
            df_ava=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\Available\{}_{}hour_part{}.csv'.format(day,hour,part))
            available=df_ava.count()[0]
            available_list.append(available)
            df_star=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\Started\Filtered_starts\{}_{}hour_part{}.csv'.format(day,hour,part))
            start=df_star.count()[0]
            start_list.append(start)
            #print('start_list= '+str(start_list))
            df_stop=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\Stopped\Filtered_stops\{}_{}hour_part{}.csv'.format(day,hour,part))
            stop=df_stop.count()[0]
            stop_list.append(stop)
        avg_start=Average(start_list)
        #print('average start= '+str(avg_start))
        avg_stop=Average(stop_list)
        avg_available=Average(available_list)
        row.append((avg_start,avg_stop,avg_available,hour))
    df_new=pd.DataFrame(row)
    df_new.columns=['start','stop','available','hour']
    df_new.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\Trip Counts\August\{}.csv'.format(day),index=False)



   # percentile_list = pd.concat([available_list,stop_list,start_list], axis=1)

count trip_start number, trip_end number and available bike number every 15 minutes and take average of 4 chuncks as 1 hour count. 
If we take count for all 4 hours, we might count the same bike ID several times, it the bike was dwelling for more than 15 minutes as the bikeID change over time.

In [137]:
countAvailableStartStop15Minutes(1)

In [59]:
df_ava=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\August\Available\1_4hour_part1.csv')
df_ava.count()[0]

435

In [42]:
df=pd.concat([df1,df2], ignore_index=True)

In [43]:
df

                                  bike_id        lat         lon    range
0    384dd65e-8487-4052-924c-8b1162f1859d -37.914226  145.267072  11964.0
1    62ba10a6-8993-4d72-8587-3221efdd834e -37.913863  145.266385  14722.0
2    2ce47582-77dc-4e63-96c6-3ac81160d950 -37.933659  145.034912   2969.0
3    95d3d47c-fd57-4ac9-a642-e1b3fe626f5d -37.878568  144.997037   5456.0
4    234fd602-246f-472c-b48f-e7a74cab573a -37.880805  144.991254   5456.0
..                                    ...        ...         ...      ...
384  93a41f5c-d45d-49de-bb80-75295b6e4094 -37.792058  144.926246   8522.0
385  90e8ddf2-9aa0-4ca0-9f47-c9275a1aafd9 -37.790012  144.922566   8318.0
386  0bdad535-ff9d-4fb2-ac88-821166fba27d -37.781109  144.910781   8318.0
387  d8e6ffcb-387e-42af-aa0a-ea6bda18b96c -37.806730  144.908956   4249.0
388  f8885c03-5af6-41ef-8559-35145327319f -37.787951  144.905934   5456.0

[389 rows x 4 columns]

# count started, stopped and  available counts

In [ ]:
df_start=pd.read_csv()