In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\Pedestrian_Counting_System_-_Sensor_Locations.csv')

Read sensor locations csv file

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sensor_id           86 non-null     int64
 1   sensor_description  86 non-null     object
 2   sensor_name         86 non-null     object
 3   installation_date   86 non-null     object
 4   status              86 non-null     object
 5   note                10 non-null     object
 6   direction_1         78 non-null     object
 7   direction_2         78 non-null     object
 8   latitude            86 non-null     float64
 9   longitude           86 non-null     float64
 10  location            86 non-null     object
dtypes: float64(2), int64(1), object(8)
memory usage: 7.5+ KB

Checked information of DF to find number of rows

In [4]:
df.head()

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,57,Bourke St Bridge,BouBri_T,2018/08/13,A,NaN,East,West,-37.817660,144.950262,"(-37.81766034, 144.95026189)"
1,32,City Square,CSq_T,2013/12/20,R,Device has been removed (24/01/2017),NaN,NaN,-37.815724,144.966863,"(-37.81572426, 144.96686315)"
2,68,Flinders Ln -Degraves St (North),FLDegN_T,2020/06/03,A,NaN,East,West,-37.816835,144.965604,"(-37.81683473, 144.96560387)"
3,40,Lonsdale St-Spring St (West),Spr201_T,2015/01/19,A,NaN,South,North,-37.809980,144.972282,"(-37.80998025, 144.97228184)"
4,1,Bourke Street Mall (North),Bou292_T,2009/03/24,A,NaN,East,West,-37.813481,144.965159,"(-37.81348124, 144.96515921)"

In [5]:
print(df["note"].unique())

[nan 'Device has been removed (24/01/2017)'
 'Device is upgraded in 26/02/2020' 'Upgraded on 8/09/21'
 'Sensor relocated to sensor ID 25 on 2/10/2019'
 'In 4/12/2019 sensor upgraded'
 'Device moved to location ID 53 (22/09/2015)'
 'Device has been removed (17/02/2017)' 'Southbank -Building side'
 'Temporary for the duration of the metro tunnel works. Installed under the scaffolding.'
 'sensor upgraded from laser to 3D on 19/12/2019']

Print and see the unique values in notes column

In [7]:
df[df["note"].str.contains("Device has been removed")==False]

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
8,17,Collins Place (South),Col15_T,2009/03/30,A,Device is upgraded in 26/02/2020,East,West,-37.813612,144.973242,"(-37.81361226, 144.97324187)"
16,6,Flinders Street Station Underpass,FliS_T,2009/03/25,A,Upgraded on 8/09/21,South,North,-37.819104,144.965589,"(-37.81910389, 144.96558853)"
23,14,Sandridge Bridge,SanBri_T,2009/03/24,R,Sensor relocated to sensor ID 25 on 2/10/2019,South,North,-37.820099,144.962925,"(-37.82009926, 144.96292494)"
33,39,Alfred Place,AlfPl_T,2019/12/04,A,In 4/12/2019 sensor upgraded,South,North,-37.813784,144.969963,"(-37.81378433, 144.96996342)"
49,16,Australia on Collins,Col270_T,2009/03/30,R,Device moved to location ID 53 (22/09/2015),NaN,NaN,-37.815721,144.965216,"(-37.81572107, 144.96521642)"
53,35,Southbank,SouthB_T,2021/04/15,A,Southbank -Building side,East,West,-37.820165,144.965095,"(-37.82016512, 144.96509475)"
60,60,Flinders La - Swanston St (West) Temporary,Swa31T_T,2019/03/08,R,Temporary for the duration of the metro tunnel...,South,North,-37.816669,144.966901,"(-37.81666873, 144.96690138)"
68,29,St Kilda Rd-Alexandra Gardens,AG_T,2013/10/11,A,sensor upgraded from laser to 3D on 19/12/2019,South,North,-37.819645,144.968640,"(-37.81964493, 144.9686405)"

Dropped records containig the string "device removed"

In [8]:
df.to_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\Pedestrian_Counting_System_-_Sensor_Locations_Dropped_Removed_devices.csv')

Save cleaned dataset