In [13]:
import pandas as pd

In [16]:
df1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\29_9hour_part1_final.csv')
df1

,bike_id,latitude,longitude,range,datetime
0,fed4898c-79c9-4f14-bb40-d25583462eaf,-37.799760,144.948637,10878.0,29:9:1
1,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,-37.825937,144.963211,15677.0,29:9:2
2,71ea0882-022c-48b3-9d9f-d865c728b5e5,-37.799760,144.948637,10878.0,29:9:2
3,e8588e47-6d31-47e5-bc04-13fba9bc16e7,-37.827132,145.011469,15677.0,29:9:4
4,30746f1c-bfb9-4a70-a60c-7351eba02fdf,-37.782026,144.983558,9568.0,29:9:5
5,d8023f62-4977-49ec-892c-ec56172eff92,-37.823479,144.964854,4756.0,29:9:5
6,d242a701-d0ce-4387-8dcd-53b82d420a48,-37.824320,144.956705,11102.0,29:9:8
7,03fe767c-7b5c-4f7f-8332-475e33e51d0c,-37.841338,144.955887,10215.0,29:9:8
8,140d5b6f-3bf2-4f27-97ce-315dba3a9cd1,-37.813725,144.999959,17514.0,29:9:8
9,27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4,-37.814356,144.959015,15677.0,29:9:9
10,9ba3b9ea-90bb-431d-8529-3c9c300fa8c1,-37.814356,144.959015,15677.0,29:9:10
11,4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4,-37.834267,144.984147,5103.0,29:9:11
12,04832e43-b5ea-43b8-b197-25063e939e95,-37.806729,144.987762,5999.0,29:9:13
13,5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c,-37.811613,145.011000,10215.0,29:9:14

In [17]:
df2=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\29_9hour_part2_final.csv')
df2

,bike_id,latitude,longitude,range,datetime
0,90abe697-bc95-4e3d-8ad5-eae65be5fa59,-37.813879,144.942298,5635.0,29:9:17
1,15abf2ae-c6a3-417a-8d22-18785b4311d6,-37.821766,144.966016,13921.0,29:9:19
2,0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2,-37.817837,144.993515,17514.0,29:9:20
3,35f71ef0-521f-4e18-9918-dfbce013bf2b,-37.812727,144.956854,4756.0,29:9:20
4,23dcce76-6829-4d34-a3e1-472c7dcec584,-37.812910,144.999968,14664.0,29:9:17
5,808d98c8-2657-4fad-a8d2-2475a1292757,-37.808044,144.975814,16193.0,29:9:26
6,87305e9e-860e-4934-a836-aa6302317d39,-37.789029,144.990841,4586.0,29:9:20
7,a475815a-ff9a-4d9d-a51c-82453e0e6da0,-37.804510,144.963107,6745.0,29:9:26

In [18]:
df3=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\29_9hour_part3_final.csv')
df3

,bike_id,latitude,longitude,range,datetime
0,85c77f1e-5cbb-4558-9f8a-169f2266b48b,-37.830960,144.959099,8522.0,29:9:37
1,3880b1c1-f2fe-40c6-8685-24a96dc7c1b0,-37.821609,144.949423,17783.0,29:9:35
2,ee57bfb9-9f67-4b7d-9488-162cf362166c,-37.811273,144.949637,16716.0,29:9:37
3,6b03156a-5c32-418f-bfe8-09355311220a,-37.794359,144.948851,3437.0,29:9:35
4,958e1b56-a166-4c56-9c33-59fe75e0d42b,-37.830960,144.959099,8522.0,29:9:38
5,c321ed71-5afe-4128-96e6-b5805ea0b1b3,-37.821454,144.973735,6183.0,29:9:39
6,26ed7400-89ab-46f7-b330-458a55f56ef3,-37.821454,144.973735,6183.0,29:9:40
7,545c4efb-ac17-4b07-b389-e1918a086736,-37.845518,144.984934,8318.0,29:9:41
8,3f6731e2-6fdb-404b-af13-9544f787b741,-37.812073,144.963440,17783.0,29:9:41
9,0e56a4d4-1c98-4799-a10b-c07e8097606e,-37.820174,144.943682,18326.0,29:9:44

In [19]:
df4=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\29_9hour_part4_final.csv')
df4

,bike_id,latitude,longitude,range,datetime
0,ea22ff9f-e901-470c-820f-4f155d673616,-37.837562,144.986406,5456.0,29:9:47
1,4ab77383-2d7c-45d9-ae10-adeb675700c8,-37.832977,144.949415,18600.0,29:9:49
2,174898d1-3363-4a92-9285-b787a5b22741,-37.784239,144.977448,9998.0,29:9:50
3,2938ac3d-3fb0-405a-b6b9-c62296693ec5,-37.810694,144.968810,5999.0,29:9:50
4,0b68d63a-3425-4ce7-bc33-e677f3023126,-37.810405,144.968802,9145.0,29:9:50
5,7e0ecbc5-c633-4414-95bb-8563c6708044,-37.825281,144.951233,8522.0,29:9:50
6,63b0bf00-c1d3-4fbc-9ad9-2028607d8f42,-37.810392,144.968831,17246.0,29:9:52
7,46b25d5f-1aaf-4167-a288-92ca4554888d,-37.810685,144.968893,8936.0,29:9:53
8,678e707c-08c9-4eb3-a95d-7ca20cef1582,-37.810392,144.968831,17246.0,29:9:53
9,f973b0b6-4a78-4adc-bd71-d67958bdf86f,-37.813413,144.939393,8116.0,29:9:53
10,5cc903e0-ae15-4901-a199-06eba1c8a687,-37.823869,144.929688,12015.0,29:9:53
11,3bb612e8-d3d4-4b39-a448-9f96fd5e0895,-37.798455,144.973808,3757.0,29:9:53
12,dd22859b-86f5-4cb4-9d60-ec551ce5c4e7,-37.794356,144.948859,3437.0,29:9:55
13,9225e808-4935-4c6c-b466-fadb9b0eea31,-37.837807,144.941715,2223.0,29:9:55

In [21]:
frame = [df1, df2, df3, df4]

In [28]:
all_df=pd.concat(frame,ignore_index=True)

In [31]:
all_df.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\Hourly\29_9.csv', index=False)

In [62]:
def GetHourlyTripRecords(day):
    for hour in range(0,24):
        df_list=[]
        for fileID in range(1,5):
            try:
                df =pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\{}_{}hour_part{}_final.csv'.format(day,hour,fileID))
            except FileNotFoundError:
                continue
            df_list.append(df)
            all_df=pd.concat(df_list,ignore_index=True)
            try:
                all_df.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\Hourly\{}_hour{}.csv'.format(day,hour), index=False)
            except UnboundLocalError:
                print ("UnboundLocalError"+str(hour)+str(fileID))

In [63]:
GetHourlyTripRecords(29)

In [58]:
df_list=[]
for fileID in range(1,5):
    try:
        df =pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\29_9hour_part{}_final.csv'.format(fileID))
    except FileNotFoundError:
        continue
    df_list.append(df)
print(df_list)
all_df=pd.concat(df_list,ignore_index=True)
#print(all_df)
all_df.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\Hourly\9_9.1.csv', index=False)

[                                 bike_id   latitude   longitude    range  \
0   fed4898c-79c9-4f14-bb40-d25583462eaf -37.799760  144.948637  10878.0
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc -37.825937  144.963211  15677.0
2   71ea0882-022c-48b3-9d9f-d865c728b5e5 -37.799760  144.948637  10878.0
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7 -37.827132  145.011469  15677.0
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf -37.782026  144.983558   9568.0
5   d8023f62-4977-49ec-892c-ec56172eff92 -37.823479  144.964854   4756.0
6   d242a701-d0ce-4387-8dcd-53b82d420a48 -37.824320  144.956705  11102.0
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c -37.841338  144.955887  10215.0
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1 -37.813725  144.999959  17514.0
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4 -37.814356  144.959015  15677.0
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1 -37.814356  144.959015  15677.0
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4 -37.834267  144.984147   5103.0
12  04832e43-b5ea-43b8-b197-25063e939e95 -37.806729  144.987762   5999.0
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c -37.811613  145.011000  10215.0

   datetime
0    29:9:1
1    29:9:2
2    29:9:2
3    29:9:4
4    29:9:5
5    29:9:5
6    29:9:8
7    29:9:8
8    29:9:8
9    29:9:9
10  29:9:10
11  29:9:11
12  29:9:13
13  29:9:14  ,                                 bike_id   latitude   longitude    range  \
0  90abe697-bc95-4e3d-8ad5-eae65be5fa59 -37.813879  144.942298   5635.0
1  15abf2ae-c6a3-417a-8d22-18785b4311d6 -37.821766  144.966016  13921.0
2  0405d9b3-a5e0-4a4b-bbfa-d8ad45b43cd2 -37.817837  144.993515  17514.0
3  35f71ef0-521f-4e18-9918-dfbce013bf2b -37.812727  144.956854   4756.0
4  23dcce76-6829-4d34-a3e1-472c7dcec584 -37.812910  144.999968  14664.0
5  808d98c8-2657-4fad-a8d2-2475a1292757 -37.808044  144.975814  16193.0
6  87305e9e-860e-4934-a836-aa6302317d39 -37.789029  144.990841   4586.0
7  a475815a-ff9a-4d9d-a51c-82453e0e6da0 -37.804510  144.963107   6745.0

  datetime
0  29:9:17
1  29:9:19
2  29:9:20
3  29:9:20
4  29:9:17
5  29:9:26
6  29:9:20
7  29:9:26  ,                                 bike_id   latitude   longitude    range  \
0  85c77f1e-5cbb-4558-9f8a-169f2266b48b -37.830960  144.959099   8522.0
1  3880b1c1-f2fe-40c6-8685-24a96dc7c1b0 -37.821609  144.949423  17783.0
2  ee57bfb9-9f67-4b7d-9488-162cf362166c -37.811273  144.949637  16716.0
3  6b03156a-5c32-418f-bfe8-09355311220a -37.794359  144.948851   3437.0
4  958e1b56-a166-4c56-9c33-59fe75e0d42b -37.830960  144.959099   8522.0
5  c321ed71-5afe-4128-96e6-b5805ea0b1b3 -37.821454  144.973735   6183.0
6  26ed7400-89ab-46f7-b330-458a55f56ef3 -37.821454  144.973735   6183.0
7  545c4efb-ac17-4b07-b389-e1918a086736 -37.845518  144.984934   8318.0
8  3f6731e2-6fdb-404b-af13-9544f787b741 -37.812073  144.963440  17783.0
9  0e56a4d4-1c98-4799-a10b-c07e8097606e -37.820174  144.943682  18326.0

  datetime
0  29:9:37
1  29:9:35
2  29:9:37
3  29:9:35
4  29:9:38
5  29:9:39
6  29:9:40
7  29:9:41
8  29:9:41
9  29:9:44  ,                                  bike_id   latitude   longitude    range  \
0   ea22ff9f-e901-470c-820f-4f155d673616 -37.837562  144.986406   5456.0
1   4ab77383-2d7c-45d9-ae10-adeb675700c8 -37.832977  144.949415  18600.0
2   174898d1-3363-4a92-9285-b787a5b22741 -37.784239  144.977448   9998.0
3   2938ac3d-3fb0-405a-b6b9-c62296693ec5 -37.810694  144.968810   5999.0
4   0b68d63a-3425-4ce7-bc33-e677f3023126 -37.810405  144.968802   9145.0
5   7e0ecbc5-c633-4414-95bb-8563c6708044 -37.825281  144.951233   8522.0
6   63b0bf00-c1d3-4fbc-9ad9-2028607d8f42 -37.810392  144.968831  17246.0
7   46b25d5f-1aaf-4167-a288-92ca4554888d -37.810685  144.968893   8936.0
8   678e707c-08c9-4eb3-a95d-7ca20cef1582 -37.810392  144.968831  17246.0
9   f973b0b6-4a78-4adc-bd71-d67958bdf86f -37.813413  144.939393   8116.0
10  5cc903e0-ae15-4901-a199-06eba1c8a687 -37.823869  144.929688  12015.0
11  3bb612e8-d3d4-4b39-a448-9f96fd5e0895 -37.798455  144.973808   3757.0
12  dd22859b-86f5-4cb4-9d60-ec551ce5c4e7 -37.794356  144.948859   3437.0
13  9225e808-4935-4c6c-b466-fadb9b0eea31 -37.837807  144.941715   2223.0

   datetime
0   29:9:47
1   29:9:49
2   29:9:50
3   29:9:50
4   29:9:50
5   29:9:50
6   29:9:52
7   29:9:53
8   29:9:53
9   29:9:53
10  29:9:53
11  29:9:53
12  29:9:55
13  29:9:55  ]

In [57]:
for fileID in range(1,5):
    print(fileID)

1
2
3
4