In [1]:
import pandas as pd

In [2]:
df_Feb=pd.read_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\Pedestrian_Counting_System_-_Monthly__counts_per_hour_2022_Feb.csv')

Read feb pedestrian count file

In [12]:
df_Feb.head()

,Unnamed: 0,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,4127093,4144486,"February 07, 2022 09:00:00 PM",2022,February,7,Monday,21,10,Victoria Point,63
1,4127307,4144487,"February 07, 2022 10:00:00 PM",2022,February,7,Monday,22,10,Victoria Point,21
2,4127575,4144488,"February 07, 2022 11:00:00 PM",2022,February,7,Monday,23,10,Victoria Point,10
3,4128383,4144489,"February 08, 2022 12:00:00 AM",2022,February,8,Tuesday,0,10,Victoria Point,3
4,4128869,4144786,"February 20, 2022 09:00:00 AM",2022,February,20,Sunday,9,10,Victoria Point,67

In [13]:
df_Feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46105 entries, 0 to 46104
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     46105 non-null  int64
 1   ID             46105 non-null  int64
 2   Date_Time      46105 non-null  object
 3   Year           46105 non-null  int64
 4   Month          46105 non-null  object
 5   Mdate          46105 non-null  int64
 6   Day            46105 non-null  object
 7   Time           46105 non-null  int64
 8   Sensor_ID      46105 non-null  int64
 9   Sensor_Name    46105 non-null  object
 10  Hourly_Counts  46105 non-null  int64
dtypes: int64(7), object(4)
memory usage: 3.9+ MB

In [16]:
groupd= df_Feb.groupby(df_Feb['Sensor_ID'])

group the records based on sensor ID. resulted groups contain records of each sensor from 1st FEB to 28th FEB

In [28]:
for sensor_id,group in groupd:
    group.to_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\PedestrianCount-MonthWise\Feb\Pedestrian_Counting_System_-_Monthly__counts_per_hour_2022_Feb_SensorID{}.csv'.format(sensor_id), index=False)

save each sensor ID grouped records separately

In [29]:
df_sensor1=pd.read_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\PedestrianCount-MonthWise\Feb\Pedestrian_Counting_System_-_Monthly__counts_per_hour_2022_Feb_SensorID1.csv')

Read sensor1 csv file

In [30]:
df_sensor1.head()

,Unnamed: 0,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,4138091,4139617,"February 01, 2022 12:00:00 AM",2022,February,1,Tuesday,0,1,Bourke Street Mall (North),60
1,4138092,4139618,"February 01, 2022 01:00:00 AM",2022,February,1,Tuesday,1,1,Bourke Street Mall (North),21
2,4138093,4139619,"February 01, 2022 02:00:00 AM",2022,February,1,Tuesday,2,1,Bourke Street Mall (North),44
3,4138094,4139620,"February 01, 2022 03:00:00 AM",2022,February,1,Tuesday,3,1,Bourke Street Mall (North),13
4,4138095,4139621,"February 01, 2022 04:00:00 AM",2022,February,1,Tuesday,4,1,Bourke Street Mall (North),12

In [31]:
df_sensor1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     672 non-null    int64
 1   ID             672 non-null    int64
 2   Date_Time      672 non-null    object
 3   Year           672 non-null    int64
 4   Month          672 non-null    object
 5   Mdate          672 non-null    int64
 6   Day            672 non-null    object
 7   Time           672 non-null    int64
 8   Sensor_ID      672 non-null    int64
 9   Sensor_Name    672 non-null    object
 10  Hourly_Counts  672 non-null    int64
dtypes: int64(7), object(4)
memory usage: 57.9+ KB

In [33]:
Avg_count_group_by_time=df_sensor1.groupby(['Time'])['Hourly_Counts'].mean()

group records by time (hours: 0-23) and then take average hourly_count.

In [35]:
Avg_count_group_by_time.to_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\PedestrianCount-MonthWise\Feb\SensorID1_hourly_average_count.csv')

Save file and plot