In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv')

read pedestrain counts csv

In [3]:
df.head()

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,2887628,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,36,Queen St (West),774

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4367455 entries, 0 to 4367454
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             int64
 1   Date_Time      object
 2   Year           int64
 3   Month          object
 4   Mdate          int64
 5   Day            object
 6   Time           int64
 7   Sensor_ID      int64
 8   Sensor_Name    object
 9   Hourly_Counts  int64
dtypes: int64(6), object(4)
memory usage: 333.2+ MB

In [8]:
df_2022=df[df['Year']==2022]

select 2022 records

In [9]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 289662 entries, 112 to 4367454
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             289662 non-null  int64
 1   Date_Time      289662 non-null  object
 2   Year           289662 non-null  int64
 3   Month          289662 non-null  object
 4   Mdate          289662 non-null  int64
 5   Day            289662 non-null  object
 6   Time           289662 non-null  int64
 7   Sensor_ID      289662 non-null  int64
 8   Sensor_Name    289662 non-null  object
 9   Hourly_Counts  289662 non-null  int64
dtypes: int64(6), object(4)
memory usage: 24.3+ MB

In [20]:
df_2022.to_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\Pedestrian_Counting_System_-_Monthly__counts_per_hour_2022.csv')

save 2022 pedestrian counts to a csv file

In [17]:
#df_2022['Month'].astype(str)
df_2022_Apr=df_2022[df_2022['Month'].astype(str)=="April"]

convert month column to string and select only April month records

In [21]:
df_2022_Feb=df_2022[df_2022['Month'].astype(str)=="February"]

In [24]:
df_2022_Mar=df_2022[df_2022['Month'].astype(str)=="March"]

In [25]:
df_2022_May=df_2022[df_2022['Month'].astype(str)=="May"]

In [26]:
df_2022_June=df_2022[df_2022['Month'].astype(str)=="June"]

In [32]:
df_2022_June.to_csv(r'\\rmit.internal\USRHome\sl0\s3923410\Dataset\Melbourne-Test\Pedestrian_Counting_System_-_Monthly__counts_per_hour_2022_June.csv')

Save monthly records in separate csv files

In [19]:
df_2022_Apr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46850 entries, 112 to 4272414
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             46850 non-null  int64
 1   Date_Time      46850 non-null  object
 2   Year           46850 non-null  int64
 3   Month          46850 non-null  object
 4   Mdate          46850 non-null  int64
 5   Day            46850 non-null  object
 6   Time           46850 non-null  int64
 7   Sensor_ID      46850 non-null  int64
 8   Sensor_Name    46850 non-null  object
 9   Hourly_Counts  46850 non-null  int64
dtypes: int64(6), object(4)
memory usage: 3.9+ MB

In [23]:
df_2022_Feb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46105 entries, 4127093 to 4180163
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             46105 non-null  int64
 1   Date_Time      46105 non-null  object
 2   Year           46105 non-null  int64
 3   Month          46105 non-null  object
 4   Mdate          46105 non-null  int64
 5   Day            46105 non-null  object
 6   Time           46105 non-null  int64
 7   Sensor_ID      46105 non-null  int64
 8   Sensor_Name    46105 non-null  object
 9   Hourly_Counts  46105 non-null  int64
dtypes: int64(6), object(4)
memory usage: 3.9+ MB