In [1]:
import pandas as pd
df = pd.read_json(r'\\rmit.internal\USRHome\sl0\s3923410\Melbourne\vehicle_types.json')

In [5]:
df['data']['vehicle_types'][0]

{'vehicle_type_id': '1',
 'form_factor': 'scooter',
 'propulsion_type': 'electric',
 'max_range_meters': 24140}

In [16]:
df

,last_updated,ttl,version,data
vehicle_types,1658830288,86400,2.2,"[{'vehicle_type_id': '1', 'form_factor': 'scoo..."

In [6]:
len(df['data']['vehicle_types'][0])

4

In [8]:
for i in range(4):
    print(df['data']['vehicle_types'][i])

{'vehicle_type_id': '1', 'form_factor': 'scooter', 'propulsion_type': 'electric', 'max_range_meters': 24140}
{'vehicle_type_id': '2', 'form_factor': 'scooter', 'propulsion_type': 'electric', 'max_range_meters': 40233}
{'vehicle_type_id': '3', 'form_factor': 'bicycle', 'propulsion_type': 'electric_assist', 'max_range_meters': 85000}
{'vehicle_type_id': '4', 'form_factor': 'bicycle', 'propulsion_type': 'human'}

In [11]:
import json
with open(r'\\rmit.internal\USRHome\sl0\s3923410\Melbourne\vehicle_types.json','r') as f:
    data = json.loads(f.read())

open json file

In [19]:
df = pd.json_normalize(data, ['data', 'vehicle_types'])
print(df)

  vehicle_type_id form_factor  propulsion_type  max_range_meters
0               1     scooter         electric           24140.0
1               2     scooter         electric           40233.0
2               3     bicycle  electric_assist           85000.0
3               4     bicycle            human               NaN
4               5       moped         electric           85000.0