In [2]:
import pandas as pd
import numpy as np

from patsy import dmatrices

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

import statsmodels.api as sm
from statsmodels.formula.api import glm

from sklearn.metrics import mean_absolute_error,mean_squared_error, accuracy_score,f1_score
from sklearn.metrics import f1_score
from sklearn.model_selection import KFold

In [3]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\AllFeatures-original - wholeNumberDensity -removed0.7.csv')

In [4]:
df.head()

,SA1_CODE21,tripDensity,date,hour,trainDensity,busDensity,tramDensity,Cafe perc,Office perc,Shops perc,mxi,recreationCount,campusCount,5-14 %,40-49 %,50-64 %,male%,Population density 2021,rainfall,min_temp
0,20604111702,0,1,0,0.0,38.68472,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
1,20604111702,0,1,1,0.0,38.68472,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
2,20604111702,19,1,2,0.0,38.68472,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
3,20604111702,0,1,3,0.0,38.68472,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
4,20604111702,0,1,4,0.0,38.68472,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56616 entries, 0 to 56615
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SA1_CODE21               56616 non-null  int64
 1   tripDensity              56616 non-null  int64
 2   date                     56616 non-null  int64
 3   hour                     56616 non-null  int64
 4   trainDensity             56616 non-null  float64
 5   busDensity               56616 non-null  float64
 6   tramDensity              56616 non-null  float64
 7   Cafe perc                56616 non-null  float64
 8   Office perc              56616 non-null  float64
 9   Shops perc               56616 non-null  float64
 10  mxi                      56616 non-null  float64
 11  recreationCount          56616 non-null  int64
 12  campusCount              56616 non-null  int64
 13  5-14 %                   56616 non-null  float64
 14  40-49 %                  56616 non-null  float64
 15  50-64 %                  56616 non-null  float64
 16  male%                    56616 non-null  float64
 17  Population density 2021  56616 non-null  float64
 18  rainfall                 56616 non-null  int64
 19  min_temp                 56616 non-null  float64
dtypes: float64(13), int64(7)
memory usage: 8.6 MB

In [6]:
column=['tripDensity']
df_depe=df.drop(column, axis=1)
df_depe

,SA1_CODE21,date,hour,trainDensity,busDensity,tramDensity,Cafe perc,Office perc,Shops perc,mxi,recreationCount,campusCount,5-14 %,40-49 %,50-64 %,male%,Population density 2021,rainfall,min_temp
0,20604111702,1,0,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
1,20604111702,1,1,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
2,20604111702,1,2,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
3,20604111702,1,3,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
4,20604111702,1,4,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,7.422579,8.152377,49.511571,9456.2,0,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56611,20604151016,7,19,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,13.562667,0.000000,51.647198,9238.5,1,8.0
56612,20604151016,7,20,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,13.562667,0.000000,51.647198,9238.5,1,8.0
56613,20604151016,7,21,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,13.562667,0.000000,51.647198,9238.5,1,8.0
56614,20604151016,7,22,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,13.562667,0.000000,51.647198,9238.5,1,8.0
56615,20604151016,7,23,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,13.562667,0.000000,51.647198,9238.5,1,8.0

In [7]:
df_depe=df_depe.drop(['SA1_CODE21'], axis=1)

In [7]:
#df_depe=df_depe.drop(['female%'], axis=1)

In [8]:
df_depe["hour"].replace({0:1,1:1,2:1,3:2,4:2,5:2,6:3,7:3,8:3,9:4,10:4,11:4,12:5,13:5,14:5,15:6,16:6,17:6,18:7,19:7,20:7,21:8,22:8,23:8}, inplace=True)

In [9]:
df_depe["date"].replace({1:1, 2: 1, 3: 1,4: 1,5: 1,6: 2,7: 2}, inplace=True)

In [10]:
df_depe['trainDensity'] = df['trainDensity'].map(lambda x: 1 if x>0 else 0)

In [11]:
categorical =['hour','date','rainfall','trainDensity']
for col in categorical:
    df_depe[col]=df_depe[col].astype('category')
#df_depe['rainfall']=df_depe['rainfall'].astype('category')

In [12]:
#df=pd.get_dummies(df, drop_first=True )
df_depe=pd.get_dummies(df_depe, drop_first=True)

In [13]:
df_depe.columns

Index(['busDensity', 'tramDensity', 'Cafe perc', 'Office perc', 'Shops perc',
       'mxi', 'recreationCount', 'campusCount', '5-14 %', '40-49 %', '50-64 %',
       'male%', 'Population density 2021', 'min_temp', 'date_2', 'hour_2',
       'hour_3', 'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8',
       'trainDensity_1', 'rainfall_1'],
      dtype='object')

In [14]:
scale= StandardScaler()

In [15]:
df_sc= scale.fit_transform(df_depe)
df_sc=pd.DataFrame(df_sc, columns=df_depe.columns)

In [16]:
y=df['tripDensity']
X=df_sc

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=24)

In [18]:
NB=sm.GLM(y_train,X_train, family=sm.families.NegativeBinomial(alpha=0.981766))

In [19]:
nb_training_results=sm.GLM(y_train,X_train, loglike_method='geometric',family=sm.families.NegativeBinomial(alpha=0.981766)).fit(method='powell')

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:127: ValueWarning: unknown kwargs ['loglike_method']
  warnings.warn(msg, ValueWarning)

In [20]:
print(nb_training_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            tripDensity   No. Observations:                45292
Model:                            GLM   Df Residuals:                    45268
Model Family:        NegativeBinomial   Df Model:                           23
Link Function:                    Log   Scale:                          1.0000
Method:                        powell   Log-Likelihood:            -6.7913e+05
Date:                Thu, 22 Sep 2022   Deviance:                   1.1895e+06
Time:                        11:05:22   Pearson chi2:                 1.00e+09
No. Iterations:                    14   Pseudo R-squ. (CS):         -7.047e+08
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
busDensity                 -0.1171      0.002    -50.699      0.000      -0.122      -0.113
tramDensity                 0.2612      0.003     95.934      0.000       0.256       0.267
Cafe perc                   0.2146      0.002     89.591      0.000       0.210       0.219
Office perc                 0.0097      0.002      5.848      0.000       0.006       0.013
Shops perc                  0.1561      0.002     72.535      0.000       0.152       0.160
mxi                         0.1332      0.003     40.912      0.000       0.127       0.140
recreationCount            -0.4208      0.005    -77.992      0.000      -0.431      -0.410
campusCount                -0.1704      0.003    -66.610      0.000      -0.175      -0.165
5-14 %                     -0.0790      0.005    -16.684      0.000      -0.088      -0.070
40-49 %                    -0.7060      0.004   -168.455      0.000      -0.714      -0.698
50-64 %                     0.0148      0.004      3.856      0.000       0.007       0.022
male%                       1.4769      0.004    351.582      0.000       1.469       1.485
Population density 2021     0.6929      0.004    180.629      0.000       0.685       0.700
min_temp                    0.1446      0.003     47.087      0.000       0.139       0.151
date_2                      0.4730      0.003    141.667      0.000       0.467       0.480
hour_2                     -0.4530      0.003   -150.641      0.000      -0.459      -0.447
hour_3                     -0.0722      0.003    -23.998      0.000      -0.078      -0.066
hour_4                      0.0307      0.003     10.479      0.000       0.025       0.036
hour_5                      0.1934      0.003     67.073      0.000       0.188       0.199
hour_6                      0.3313      0.003    114.179      0.000       0.326       0.337
hour_7                      0.2740      0.003     96.171      0.000       0.268       0.280
hour_8                      0.2614      0.003     93.493      0.000       0.256       0.267
trainDensity_1             -0.2055      0.003    -79.689      0.000      -0.211      -0.200
rainfall_1                 -0.1523      0.003    -58.015      0.000      -0.157      -0.147
===========================================================================================

In [21]:
nb_prediction_train=nb_training_results.get_prediction(X_train)
nb_summary_frame_train=nb_prediction_train.summary_frame()
print(nb_summary_frame_train)

            mean   mean_se  mean_ci_lower  mean_ci_upper
6147    0.014060  0.000184       0.013705       0.014424
4864   21.675211  0.210076      21.267355      22.090889
25971   1.389596  0.013987       1.362450       1.417282
15102   2.175504  0.023627       2.129687       2.222308
32708   1.967026  0.020571       1.927118       2.007760
...          ...       ...            ...            ...
21633  11.231210  0.095797      11.045011      11.420548
19857   1.464138  0.011757       1.441275       1.487363
14528   0.036926  0.000436       0.036081       0.037791
899     1.313101  0.014329       1.285315       1.341488
45474  33.197210  0.272782      32.666849      33.736181

[45292 rows x 4 columns]

In [22]:
predicted_train_count=nb_summary_frame_train['mean']
predicted_train_count

6147      0.014060
4864     21.675211
25971     1.389596
15102     2.175504
32708     1.967026
           ...
21633    11.231210
19857     1.464138
14528     0.036926
899       1.313101
45474    33.197210
Name: mean, Length: 45292, dtype: float64

In [23]:
nb_prediction_test=nb_training_results.get_prediction(X_test)
nb_summary_frame_test=nb_prediction_test.summary_frame()
print(nb_summary_frame_test)

            mean   mean_se  mean_ci_lower  mean_ci_upper
37096  30.499259  0.298791      29.919226      31.090536
32405   0.375299  0.003687       0.368143       0.382595
29630   5.154698  0.088488       4.984149       5.331082
5114    8.461738  0.073038       8.319791       8.606107
4064    2.431575  0.021857       2.389111       2.474794
...          ...       ...            ...            ...
31875   1.604247  0.013788       1.577449       1.631501
35947  16.603325  0.180112      16.254038      16.960118
35391   0.195822  0.002804       0.190403       0.201396
38042   0.100697  0.001246       0.098284       0.103170
12791   4.220689  0.101427       4.026506       4.424238

[11324 rows x 4 columns]

In [24]:
predicted_test_count=nb_summary_frame_test['mean']
predicted_test_count

37096    30.499259
32405     0.375299
29630     5.154698
5114      8.461738
4064      2.431575
           ...
31875     1.604247
35947    16.603325
35391     0.195822
38042     0.100697
12791     4.220689
Name: mean, Length: 11324, dtype: float64

In [25]:
print("MAE %f" %mean_absolute_error(y_test, predicted_test_count))

MAE 41.809417

In [26]:
print("MSE  %f" %mean_squared_error(y_test, predicted_test_count))

MSE  17059.831266

In [27]:
import numpy as np
print("RMSE  %f" %np.sqrt(mean_squared_error(y_test, predicted_test_count)))

RMSE  130.613289

In [44]:
# cross validation

In [45]:
y=df['tripDensity']
X=df_sc

In [49]:
data=pd.concat([y,X],axis=1)

In [74]:
y=data['tripDensity'].values
X=data.drop(['tripDensity'], axis=1).values

In [46]:
preds, scores = [], []

In [48]:
kfold = KFold(n_splits=5, shuffle=True, random_state=1)