In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston
from sklearn.datasets import make_regression

from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

import matplotlib.pyplot as plt
from sklearn import set_config 
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\AllFeatures-original - wholeNumberDensity - Copy.csv')

In [3]:
df=df.drop(['SA1_CODE21'], axis=1)

In [4]:
df["hour"].replace({0:1,1:1,2:1,3:2,4:2,5:2,6:3,7:3,8:3,9:4,10:4,11:4,12:5,13:5,14:5,15:6,16:6,17:6,18:7,19:7,20:7,21:8,22:8,23:8}, inplace=True)

In [5]:
df["date"].replace({1:1,2: 1, 3: 1,4: 1,5: 1,6: 2,7: 2}, inplace=True)

In [6]:
df['trainDensity'] = df['trainDensity'].map(lambda x: 1 if x>0 else 0)

In [7]:
categorical =['hour','date','rainfall','trainDensity']
for col in categorical:
    df[col]=df[col].astype('category')

In [8]:
df=pd.get_dummies(df, drop_first=True)

In [42]:
print(len(df.columns))

31

In [9]:
y=df['tripDensity']

X=df.drop(['tripDensity'], axis=1)

In [10]:
X

,busDensity,tramDensity,House perc,Cafe perc,Office perc,Shops perc,entropy,mxi,recreationCount,campusCount,...,date_2,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,trainDensity_1,rainfall_1
0,38.684720,19.34236,0.370229,0.576336,0.022901,0.030534,1.352866,12.977099,0,0,...,0,0,0,0,0,0,0,0,0,0
1,38.684720,19.34236,0.370229,0.576336,0.022901,0.030534,1.352866,12.977099,0,0,...,0,0,0,0,0,0,0,0,0,0
2,38.684720,19.34236,0.370229,0.576336,0.022901,0.030534,1.352866,12.977099,0,0,...,0,0,0,0,0,0,0,0,0,0
3,38.684720,19.34236,0.370229,0.576336,0.022901,0.030534,1.352866,12.977099,0,0,...,0,1,0,0,0,0,0,0,0,0
4,38.684720,19.34236,0.370229,0.576336,0.022901,0.030534,1.352866,12.977099,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56611,46.728972,0.00000,0.089286,0.803571,0.071429,0.035714,1.118100,41.071429,0,0,...,1,0,0,0,0,0,1,0,0,1
56612,46.728972,0.00000,0.089286,0.803571,0.071429,0.035714,1.118100,41.071429,0,0,...,1,0,0,0,0,0,1,0,0,1
56613,46.728972,0.00000,0.089286,0.803571,0.071429,0.035714,1.118100,41.071429,0,0,...,1,0,0,0,0,0,0,1,0,1
56614,46.728972,0.00000,0.089286,0.803571,0.071429,0.035714,1.118100,41.071429,0,0,...,1,0,0,0,0,0,0,1,0,1
56615,46.728972,0.00000,0.089286,0.803571,0.071429,0.035714,1.118100,41.071429,0,0,...,1,0,0,0,0,0,0,1,0,1

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=24)

In [77]:
model = RandomForestRegressor(n_estimators=200, random_state=24, max_features=6)

In [78]:
LL_rf=model.fit(X_train, y_train)

In [62]:
score = LL_rf.score(X_train, y_train)
print("R-squared:", score)

R-squared: 0.4642170064163532

In [19]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, explained_variance_score, r2_score

In [17]:
ypred = LL_rf.predict(X_train)

In [51]:
print("MAE is: %f" %mean_absolute_error(y_train, ypred))
print("MSE is: %f" %mean_squared_error(y_train, ypred))

MAE is: 34.312250
MSE is: 9604.019118

In [52]:
import numpy as np
print("RMSE is: %f" %np.sqrt(mean_squared_error(y_train, ypred)))

RMSE is: 98.000098

In [53]:
print("EVS is: %f" %explained_variance_score(y_train, ypred))

EVS is: 0.457351

In [79]:
ypred_test= LL_rf.predict(X_test)

In [55]:
print("Testinf set R2 is: %f" %r2_score(y_test, ypred_test))

Testinf set R2 is: 0.035088

In [80]:
print("MAE is: %f" %mean_absolute_error(y_test, ypred_test))
print("MSE is: %f" %mean_squared_error(y_test, ypred_test))

MAE is: 48.638568
MSE is: 15899.478111

In [81]:
print("RMSE is: %f" %np.sqrt(mean_squared_error(y_test, ypred_test)))
print("EVS is: %f" %explained_variance_score(y_test, ypred_test))

RMSE is: 126.093133
EVS is: 0.030403

In [30]:
# cross validation

In [58]:
test_score= cross_val_score(LL_rf, X_test, y_test, scoring='neg_mean_squared_error')

In [59]:
np.mean(np.absolute(test_score))

16727.235784356104

In [35]:
#feature ranking

In [37]:
from sklearn.pipeline import Pipeline

In [82]:
feature_list=list(X.columns)

In [83]:
feature_importance = pd.Series(LL_rf.feature_importances_, index=feature_list).sort_values(ascending=False)

In [84]:
print(feature_importance)

min_temp                   0.237706
hour_5                     0.058378
Cafe perc                  0.047511
hour_7                     0.046651
hour_6                     0.044131
tramDensity                0.042601
hour_8                     0.042576
date_2                     0.042508
hour_4                     0.041336
mxi                        0.039433
rainfall_1                 0.037979
House perc                 0.037432
entropy                    0.036870
busDensity                 0.034890
hour_3                     0.034460
hour_2                     0.029304
5-14 %                     0.021046
above65 %                  0.018371
male%                      0.017939
Office perc                0.016933
Population density 2021    0.016375
female%                    0.014133
15-29 %                    0.008912
50-64 %                    0.008563
30-39 %                    0.008248
Shops perc                 0.007593
40-49 %                    0.006867
recreationCount            0.000821
trainDensity_1             0.000296
campusCount                0.000135
dtype: float64