In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston
from sklearn.datasets import make_regression

from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

import matplotlib.pyplot as plt
from sklearn import set_config 
import pandas as pd

In [40]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\final version\AllFeatures-original2.csv')

In [41]:
df.fillna(0, inplace=True)

In [42]:
df=df.drop(['SA1_CODE21'], axis=1)

In [43]:
df.isna().sum()

tripDensity                  0
date                         0
hour                         0
trainDensity                 0
busDensity                   0
tramDensity                  0
House perc                   0
Cafe perc                    0
Office perc                  0
Shops perc                   0
entropy                      0
mxi                          0
recreationCount              0
campusCount                  0
5-14 %                       0
15-29 %                      0
30-39 %                      0
40-49 %                      0
50-64 %                      0
above65 %                    0
female%                      0
male%                        0
Population density 2021      0
car owner %                  0
no_childern Sa1              0
with u 15 children sa1       0
with no u 15 children sa1    0
rainfall                     0
min_temp                     0
dtype: int64

In [44]:
column=['House perc','entropy','15-29 %','above65 %','female%','car owner %','male%','with no u 15 children sa1','with u 15 children sa1','no_childern Sa1']
df=df.drop(column, axis=1)
df

,tripDensity,date,hour,trainDensity,busDensity,tramDensity,Cafe perc,Office perc,Shops perc,mxi,recreationCount,campusCount,5-14 %,30-39 %,40-49 %,50-64 %,Population density 2021,rainfall,min_temp
0,0,1,0,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
1,0,1,1,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
2,19,1,2,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
3,0,1,3,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
4,0,1,4,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56779,0,7,19,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56780,0,7,20,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56781,0,7,21,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56782,0,7,22,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56783,0,7,23,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0

In [45]:
df["hour"].replace({0:1,1:1,2:1,3:2,4:2,5:2,6:3,7:3,8:3,9:4,10:4,11:4,12:5,13:5,14:5,15:6,16:6,17:6,18:7,19:7,20:7,21:8,22:8,23:8}, inplace=True)

In [46]:
df["date"].replace({1:1,2: 1, 3: 1,4: 1,5: 1,6: 2,7: 2}, inplace=True)

In [47]:
df['trainDensity'] = df['trainDensity'].map(lambda x: 1 if x>0 else 0)

In [48]:
categorical =['hour','date','rainfall','trainDensity']
for col in categorical:
    df[col]=df[col].astype('category')

In [49]:
df=pd.get_dummies(df, drop_first=True)
#df=pd.get_dummies(df, drop_first=False)

In [50]:
print(len(df.columns))

25

In [51]:
y=df['tripDensity']

X=df.drop(['tripDensity'], axis=1)

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=24)

In [53]:
model = RandomForestRegressor(n_estimators=500, random_state=24,max_features=5)

In [54]:
LL_rf=model.fit(X_train, y_train)

In [55]:
score = LL_rf.score(X_train, y_train)
print("R-squared:", score)

R-squared: 0.47429337236712665

In [56]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, explained_variance_score, r2_score

In [57]:
ypred = LL_rf.predict(X_train)

In [20]:
print("MAE is: %f" %mean_absolute_error(y_train, ypred))
print("MSE is: %f" %mean_squared_error(y_train, ypred))

MAE is: 33.514399
MSE is: 8695.519979

In [21]:
import numpy as np
print("RMSE is: %f" %np.sqrt(mean_squared_error(y_train, ypred)))

RMSE is: 93.249772

In [22]:
print("EVS is: %f" %explained_variance_score(y_train, ypred))

EVS is: 0.474259

In [58]:
ypred_test= LL_rf.predict(X_test)

In [59]:
print("Testinf set R2 is: %f" %r2_score(y_test, ypred_test))

Testinf set R2 is: 0.026166

In [60]:
print("MAE is: %f" %mean_absolute_error(y_test, ypred_test))
print("MSE is: %f" %mean_squared_error(y_test, ypred_test))

MAE is: 50.265076
MSE is: 20252.486035

In [61]:
print("RMSE is: %f" %np.sqrt(mean_squared_error(y_test, ypred_test)))
print("EVS is: %f" %explained_variance_score(y_test, ypred_test))

RMSE is: 142.311229
EVS is: 0.026429

In [27]:
# cross validation

In [62]:
test_score= cross_val_score(LL_rf, X_test, y_test, scoring='neg_mean_squared_error')

In [63]:
cv_MSE=np.mean(np.absolute(test_score))

In [64]:
round(np.sqrt(cv_MSE),2)

151.47

In [31]:
#feature ranking

In [32]:
from sklearn.pipeline import Pipeline

In [65]:
feature_list=list(X.columns)

In [66]:
feature_importance = pd.Series(LL_rf.feature_importances_, index=feature_list).sort_values(ascending=False)

In [67]:
print(feature_importance)

min_temp                   0.209799
Cafe perc                  0.097395
mxi                        0.085058
tramDensity                0.054346
busDensity                 0.049641
hour_8                     0.044458
hour_6                     0.043791
date_2                     0.042179
hour_7                     0.041890
hour_5                     0.040984
Population density 2021    0.034767
hour_4                     0.034620
rainfall_1                 0.033453
hour_3                     0.033111
hour_2                     0.029151
Office perc                0.028766
5-14 %                     0.028629
50-64 %                    0.018594
40-49 %                    0.017610
30-39 %                    0.015540
Shops perc                 0.013552
recreationCount            0.001816
trainDensity_1             0.000515
campusCount                0.000336
dtype: float64