In [1]:
import pandas as pd
import numpy as np

from patsy import dmatrices

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

import statsmodels.api as sm
from statsmodels.formula.api import glm

from sklearn.metrics import mean_absolute_error,mean_squared_error, accuracy_score,f1_score
from sklearn.metrics import f1_score
from sklearn.model_selection import KFold

In [2]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\final version\AllFeatures-original2.csv')

In [3]:
df.isna().sum()

SA1_CODE21                     0
tripDensity                    0
date                           0
hour                           0
trainDensity                   0
busDensity                     0
tramDensity                    0
House perc                     0
Cafe perc                      0
Office perc                    0
Shops perc                     0
entropy                        0
mxi                            0
recreationCount                0
campusCount                    0
5-14 %                       168
15-29 %                      168
30-39 %                      168
40-49 %                      168
50-64 %                      168
above65 %                    168
female%                        0
male%                          0
Population density 2021        0
car owner %                    0
no_childern Sa1                0
with u 15 children sa1         0
with no u 15 children sa1      0
rainfall                       0
min_temp                       0
dtype: int64

In [4]:
df.fillna(0, inplace=True)

convert trip density to int coz NBR is run on whole numbers

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56784 entries, 0 to 56783
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SA1_CODE21                 56784 non-null  int64
 1   tripDensity                56784 non-null  int64
 2   date                       56784 non-null  int64
 3   hour                       56784 non-null  int64
 4   trainDensity               56784 non-null  float64
 5   busDensity                 56784 non-null  float64
 6   tramDensity                56784 non-null  float64
 7   House perc                 56784 non-null  float64
 8   Cafe perc                  56784 non-null  float64
 9   Office perc                56784 non-null  float64
 10  Shops perc                 56784 non-null  float64
 11  entropy                    56784 non-null  float64
 12  mxi                        56784 non-null  float64
 13  recreationCount            56784 non-null  int64
 14  campusCount                56784 non-null  int64
 15  5-14 %                     56784 non-null  float64
 16  15-29 %                    56784 non-null  float64
 17  30-39 %                    56784 non-null  float64
 18  40-49 %                    56784 non-null  float64
 19  50-64 %                    56784 non-null  float64
 20  above65 %                  56784 non-null  float64
 21  female%                    56784 non-null  float64
 22  male%                      56784 non-null  float64
 23  Population density 2021    56784 non-null  float64
 24  car owner %                56784 non-null  float64
 25  no_childern Sa1            56784 non-null  float64
 26  with u 15 children sa1     56784 non-null  float64
 27  with no u 15 children sa1  56784 non-null  float64
 28  rainfall                   56784 non-null  int64
 29  min_temp                   56784 non-null  float64
dtypes: float64(23), int64(7)
memory usage: 13.0 MB

In [6]:
column=['tripDensity','House perc','entropy','15-29 %','above65 %','female%','car owner %','male%','with no u 15 children sa1','with u 15 children sa1','no_childern Sa1']
df_depe=df.drop(column, axis=1)
df_depe

,SA1_CODE21,date,hour,trainDensity,busDensity,tramDensity,Cafe perc,Office perc,Shops perc,mxi,recreationCount,campusCount,5-14 %,30-39 %,40-49 %,50-64 %,Population density 2021,rainfall,min_temp
0,20604111702,1,0,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
1,20604111702,1,1,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
2,20604111702,1,2,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
3,20604111702,1,3,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
4,20604111702,1,4,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56779,20604151016,7,19,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56780,20604151016,7,20,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56781,20604151016,7,21,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56782,20604151016,7,22,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56783,20604151016,7,23,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0

In [7]:
df_depe=df_depe.drop(['SA1_CODE21'], axis=1)

In [8]:
#df_depe=df_depe.drop(['female%'], axis=1)

In [9]:
df_depe["hour"].replace({0:1,1:1,2:1,3:2,4:2,5:2,6:3,7:3,8:3,9:4,10:4,11:4,12:5,13:5,14:5,15:6,16:6,17:6,18:7,19:7,20:7,21:8,22:8,23:8}, inplace=True)

In [10]:
df_depe["date"].replace({1:1, 2: 1, 3: 1,4: 1,5: 1,6: 2,7: 2}, inplace=True)

In [11]:
df_depe['trainDensity'] = df['trainDensity'].map(lambda x: 1 if x>0 else 0)

In [12]:
categorical =['hour','date','rainfall','trainDensity']
for col in categorical:
    df_depe[col]=df_depe[col].astype('category')
#df_depe['rainfall']=df_depe['rainfall'].astype('category')

In [13]:
#df=pd.get_dummies(df, drop_first=True )
df_depe=pd.get_dummies(df_depe, drop_first=True)

In [14]:
df_depe.columns

Index(['busDensity', 'tramDensity', 'Cafe perc', 'Office perc', 'Shops perc',
       'mxi', 'recreationCount', 'campusCount', '5-14 %', '30-39 %', '40-49 %',
       '50-64 %', 'Population density 2021', 'min_temp', 'date_2', 'hour_2',
       'hour_3', 'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8',
       'trainDensity_1', 'rainfall_1'],
      dtype='object')

In [15]:
scale= StandardScaler()

In [16]:
df_sc= scale.fit_transform(df_depe)
df_sc=pd.DataFrame(df_sc, columns=df_depe.columns)

In [17]:
y=df['tripDensity']
X=df_sc

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=24)

In [19]:
NB=sm.GLM(y_train,X_train, family=sm.families.NegativeBinomial(alpha=0.981766))

In [20]:
nb_training_results=sm.GLM(y_train,X_train, loglike_method='geometric',family=sm.families.NegativeBinomial(alpha=0.981766)).fit(method='bfgs')

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:127: ValueWarning: unknown kwargs ['loglike_method']
  warnings.warn(msg, ValueWarning)

In [21]:
print(nb_training_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            tripDensity   No. Observations:                45427
Model:                            GLM   Df Residuals:                    45403
Model Family:        NegativeBinomial   Df Model:                           23
Link Function:                    Log   Scale:                          1.0000
Method:                          bfgs   Log-Likelihood:            -7.2780e+05
Date:                Sat, 24 Sep 2022   Deviance:                   1.2862e+06
Time:                        13:12:24   Pearson chi2:                 1.71e+10
No. Iterations:                     0   Pseudo R-squ. (CS):         -5.664e+09
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
busDensity                 -0.2216      0.002   -101.717      0.000      -0.226      -0.217
tramDensity                 0.3405      0.003    132.435      0.000       0.335       0.346
Cafe perc                   0.3194      0.002    143.857      0.000       0.315       0.324
Office perc                 0.0152      0.002      9.331      0.000       0.012       0.018
Shops perc                  0.1900      0.002     97.991      0.000       0.186       0.194
mxi                         0.2580      0.003     88.288      0.000       0.252       0.264
recreationCount            -0.7766      0.006   -139.132      0.000      -0.788      -0.766
campusCount                -0.2348      0.002   -101.155      0.000      -0.239      -0.230
5-14 %                     -0.5026      0.004   -127.289      0.000      -0.510      -0.495
30-39 %                     1.0060      0.004    273.994      0.000       0.999       1.013
40-49 %                    -1.0151      0.005   -190.467      0.000      -1.026      -1.005
50-64 %                    -0.1470      0.004    -40.030      0.000      -0.154      -0.140
Population density 2021     0.3112      0.004     86.127      0.000       0.304       0.318
min_temp                    0.1813      0.003     61.853      0.000       0.176       0.187
date_2                      0.5159      0.003    161.920      0.000       0.510       0.522
hour_2                     -0.5031      0.003   -167.322      0.000      -0.509      -0.497
hour_3                     -0.1098      0.003    -37.640      0.000      -0.116      -0.104
hour_4                      0.0413      0.003     14.727      0.000       0.036       0.047
hour_5                      0.1783      0.003     64.613      0.000       0.173       0.184
hour_6                      0.3306      0.003    120.778      0.000       0.325       0.336
hour_7                      0.2886      0.003    105.990      0.000       0.283       0.294
hour_8                      0.2592      0.003     96.983      0.000       0.254       0.264
trainDensity_1             -0.2420      0.002    -97.160      0.000      -0.247      -0.237
rainfall_1                 -0.1889      0.003    -74.937      0.000      -0.194      -0.184
===========================================================================================

In [22]:
#nb_prediction_train=nb_training_results.get_prediction(X_train)
#nb_summary_frame_train=nb_prediction_train.summary_frame()
#print(nb_summary_frame_train)

In [23]:
#predicted_train_count=nb_summary_frame_train['mean']
#predicted_train_count

In [24]:
nb_prediction_test=nb_training_results.get_prediction(X_test)
nb_summary_frame_test=nb_prediction_test.summary_frame()
print(nb_summary_frame_test)

            mean   mean_se  mean_ci_lower  mean_ci_upper
10411   0.031325  0.000381       0.030588       0.032080
43393   0.448104  0.005433       0.437580       0.458881
3391    0.161456  0.001618       0.158316       0.164659
23737   3.473294  0.029701       3.415567       3.531997
43043   0.062157  0.000717       0.060767       0.063579
...          ...       ...            ...            ...
22295   0.104062  0.001035       0.102053       0.106111
46469   0.041647  0.000443       0.040787       0.042525
12137   3.263089  0.023622       3.217117       3.309717
45108  15.279401  0.143479      15.000759      15.563218
27044   1.139938  0.011778       1.117087       1.163257

[11357 rows x 4 columns]

In [25]:
predicted_test_count=nb_summary_frame_test['mean']
predicted_test_count

10411     0.031325
43393     0.448104
3391      0.161456
23737     3.473294
43043     0.062157
           ...
22295     0.104062
46469     0.041647
12137     3.263089
45108    15.279401
27044     1.139938
Name: mean, Length: 11357, dtype: float64

In [26]:
print("MAE %f" %mean_absolute_error(y_test, predicted_test_count))

MAE 43.904925

In [27]:
print("MSE  %f" %mean_squared_error(y_test, predicted_test_count))

MSE  21687.023912

In [28]:
import numpy as np
print("RMSE  %f" %np.sqrt(mean_squared_error(y_test, predicted_test_count)))

RMSE  147.265148

In [29]:
# cross validation

In [30]:
y=df['tripDensity']
X=df_sc

In [31]:
data=pd.concat([y,X],axis=1)

In [32]:
y=data['tripDensity'].values
X=data.drop(['tripDensity'], axis=1).values

In [33]:
preds, scores = [], []

In [34]:
kfold = KFold(n_splits=5, shuffle=True, random_state=1)