In [34]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error,mean_squared_error, accuracy_score,f1_score

In [3]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\final version\AllFeatures-original2.csv')

In [4]:
df.fillna(0, inplace=True)

In [5]:
column=['tripDensity','House perc','entropy','15-29 %','above65 %','female%','car owner %','male%','with no u 15 children sa1','with u 15 children sa1','no_childern Sa1']
df_depe=df.drop(column, axis=1)
df_depe

,SA1_CODE21,date,hour,trainDensity,busDensity,tramDensity,Cafe perc,Office perc,Shops perc,mxi,recreationCount,campusCount,5-14 %,30-39 %,40-49 %,50-64 %,Population density 2021,rainfall,min_temp
0,20604111702,1,0,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
1,20604111702,1,1,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
2,20604111702,1,2,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
3,20604111702,1,3,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
4,20604111702,1,4,0.0,38.684720,19.34236,0.576336,0.022901,0.030534,12.977099,0,0,3.536138,19.330746,7.422579,8.152377,9456.2,0,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56779,20604151016,7,19,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56780,20604151016,7,20,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56781,20604151016,7,21,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56782,20604151016,7,22,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0
56783,20604151016,7,23,0.0,46.728972,0.00000,0.803571,0.071429,0.035714,41.071429,0,0,1.813717,34.053583,13.562667,0.000000,9238.5,1,8.0

In [6]:
df_depe=df_depe.drop(['SA1_CODE21'], axis=1)

In [7]:
df_depe["hour"].replace({0:1,1:1,2:1,3:2,4:2,5:2,6:3,7:3,8:3,9:4,10:4,11:4,12:5,13:5,14:5,15:6,16:6,17:6,18:7,19:7,20:7,21:8,22:8,23:8}, inplace=True)

In [8]:
df_depe["date"].replace({1:1, 2: 1, 3: 1,4: 1,5: 1,6: 2,7: 2}, inplace=True)

In [9]:
df_depe['trainDensity'] = df['trainDensity'].map(lambda x: 1 if x>0 else 0)

In [10]:
categorical =['hour','date','rainfall','trainDensity']
for col in categorical:
    df_depe[col]=df_depe[col].astype('category')
#df_depe['rainfall']=df_depe['rainfall'].astype('category')

In [12]:
df_depe=pd.get_dummies(df_depe, drop_first=True)

In [15]:
scale= StandardScaler()

In [16]:
df_sc= scale.fit_transform(df_depe)
df_sc=pd.DataFrame(df_sc, columns=df_depe.columns)

In [17]:
y=df['tripDensity']
X=df_sc

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=24)

In [24]:
print(X_train.shape)

(45427, 24)

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [23]:
model=Sequential()

In [25]:
model.add(Dense(units=5, input_dim=24,kernel_initializer='normal',activation='relu'))

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:143: calling RandomNormal.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [26]:
model.add(Dense(units=5, kernel_initializer='normal',activation='tanh'))

In [27]:
model.add(Dense(1, kernel_initializer='normal'))

In [28]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [29]:
model.fit(X_train, y_train, batch_size=30, epochs=10, verbose=1)

Epoch 1/10
45427/45427 [==============================] - 1s 22us/sample - loss: 17947.9812
Epoch 2/10
45427/45427 [==============================] - 1s 20us/sample - loss: 17420.6423
Epoch 3/10
45427/45427 [==============================] - 1s 19us/sample - loss: 17015.4336
Epoch 4/10
45427/45427 [==============================] - 1s 19us/sample - loss: 16689.5148
Epoch 5/10
45427/45427 [==============================] - 1s 19us/sample - loss: 16427.3901
Epoch 6/10
45427/45427 [==============================] - 1s 21us/sample - loss: 16221.8126
Epoch 7/10
45427/45427 [==============================] - 1s 19us/sample - loss: 16064.22560s - lo
Epoch 8/10
45427/45427 [==============================] - 1s 19us/sample - loss: 15938.5445
Epoch 9/10
45427/45427 [==============================] - 1s 18us/sample - loss: 15836.9480
Epoch 10/10
45427/45427 [==============================] - 1s 19us/sample - loss: 15746.4831

In [30]:
Predictions=model.predict(X_test)

In [35]:
print("MAE %f" %mean_absolute_error(y_test, Predictions))

MAE 51.314350

In [52]:
model.get_weights()

[array([[-0.6399991 , -0.73447007, -0.09284713, -0.3507044 ,  0.21666372],
        [ 0.35174534, -0.06964985,  0.09637238,  0.5474502 ,  0.2926324 ],
        [ 0.13069637,  0.00978078,  0.43239298, -0.0063019 , -0.14171895],
        [-0.43323272,  0.28775498,  0.00130758,  0.2522246 ,  0.32408476],
        [-0.17069548, -0.44667414,  0.2469204 ,  0.02521576,  0.31451312],
        [ 0.00943624,  0.4407186 ,  0.01619652, -0.02589011,  0.4523899 ],
        [-0.73060507, -0.45643967, -0.14417024, -0.35878503,  0.06861886],
        [-0.1746068 , -0.6066693 , -0.32026002, -0.07219093, -0.41906005],
        [ 0.16993175, -0.3100842 ,  0.19490755, -0.7238736 , -0.5975086 ],
        [ 0.39409348,  0.44399986,  0.2787027 ,  0.47741395,  0.43625584],
        [-0.10524557, -0.3986492 , -0.21081236, -0.0634004 , -0.18481588],
        [-0.17033084, -0.2360932 , -0.22570202,  0.12542601, -0.05898611],
        [ 0.79802775,  1.1526198 ,  0.96899074,  0.75413114,  0.69593865],
        [ 0.05760681, -0.01804281,  0.1581092 ,  0.06659219,  0.20088063],
        [ 0.05804379,  0.17079365,  0.24772798,  0.471481  ,  0.221116  ],
        [-0.44062287, -0.20684633, -0.5557125 , -0.31510097, -0.5111905 ],
        [ 0.0563387 , -0.18202923, -0.3621298 , -0.46431887, -0.03790913],
        [-0.02813332, -0.08336942,  0.1817033 ,  0.01677155, -0.00972805],
        [-0.01149982,  0.04514064,  0.19062819,  0.1353291 ,  0.0971201 ],
        [ 0.13953741,  0.07438405,  0.2149795 ,  0.17111923,  0.20896542],
        [ 0.0699169 ,  0.01439413,  0.16817492,  0.11427277,  0.2205147 ],
        [ 0.01979593,  0.01054198,  0.12707917,  0.14516184,  0.21163285],
        [-0.28610975, -0.4033526 , -0.2370011 , -0.11524431, -0.00734352],
        [-0.0501131 , -0.06350163, -0.07379822, -0.20577492, -0.01090359]],
       dtype=float32),
 array([0.21175644, 0.50400186, 0.34550333, 0.07764438, 0.4016068 ],
       dtype=float32),
 array([[ 0.41343483, -0.45320296, -0.3458085 ,  0.38563323, -0.3347162 ],
        [ 0.47832134, -0.6742872 , -0.47184175,  0.54281884, -0.4253343 ],
        [ 0.3665519 , -0.32786846, -0.40308508,  0.39853564, -0.37963653],
        [ 0.45761156, -0.45205593, -0.49082625,  0.47736785, -0.45361638],
        [ 0.3412186 , -0.3259711 , -0.324409  ,  0.29992318, -0.34466323]],
       dtype=float32),
 array([-0.13425325,  0.18328226,  0.21698652, -0.13796271,  0.00142051],
       dtype=float32),
 array([[ 9.337372 ],
        [-9.352404 ],
        [-9.3188095],
        [ 9.314261 ],
        [-9.436549 ]], dtype=float32),
 array([9.009224], dtype=float32)]