In [32]:
import pandas as pd
from sklearn.feature_selection import mutual_info_regression as MIR

In [ ]:
# not correlated features

In [33]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\final version\DATASET.csv')

In [34]:
column=['SA1_CODE21']
df=df.drop(column, axis=1)

In [35]:
y=df['tripDensity']
X=df.drop(['tripDensity'], axis=1)

In [36]:
mi_score= MIR(X,y,discrete_features=[2])

In [38]:
mi =pd.DataFrame(mi_score)

In [39]:
mi

           0
0   0.010044
1   0.017990
2   0.000000
3   0.001323
4   0.104399
5   0.850692
6   1.052657
7   1.636508
8   1.350383
9   0.682883
10  1.619626
11  0.169983
12  0.042736
13  0.748332
14  0.748267
15  1.897358
16  0.684619
17  0.750482
18  0.748074
19  0.669584

In [40]:
df.columns

Index(['tripDensity', 'date', 'hour', 'rainfall', 'min_temp', 'trainDensity',
       'busDensity', 'tramDensity', 'Cafe perc', 'Office perc', 'Shops perc',
       'mxi', 'recreationCount', 'campusCount', 'female%', 'male%',
       'populationDensity', '5_14', '15_29', '30_39', '40_49'],
      dtype='object')

In [41]:
# all features

In [42]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\final version\DATASET_allfeatures.csv')

In [43]:
column=['SA1_CODE21']
df=df.drop(column, axis=1)

In [44]:
y=df['tripDensity']
X=df.drop(['tripDensity'], axis=1)

In [45]:
mi_score= MIR(X,y,discrete_features=[2])

In [46]:
mi =pd.DataFrame(mi_score)
mi

           0
0   0.006142
1   0.018012
2   0.000927
3   0.005358
4   0.107494
5   0.848292
6   1.048048
7   1.667345
8   1.640915
9   1.344084
10  0.684295
11  1.773382
12  1.618552
13  0.176266
14  0.038601
15  0.749266
16  0.749591
17  0.747847
18  0.749331
19  0.752669
20  0.751919
21  1.897271
22  0.686185
23  0.745720
24  0.750669
25  0.666930
26  0.689251
27  0.701380

In [47]:
df.columns

Index(['tripDensity', 'date', 'hour', 'rainfall', 'min_temp', 'trainDensity',
       'busDensity', 'tramDensity', 'House perc', 'Cafe perc', 'Office perc',
       'Shops perc', 'entropy', 'mxi', 'recreationCount', 'campusCount',
       'female%', 'male%', 'car owner %', 'no_childern Sa1',
       'with u 15 children sa1', 'with no u 15 children sa1',
       'populationDensity', '5_14', '15_29', '30_39', '40_49', '50_64',
       'abv65'],
      dtype='object')