In [144]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.formula.api import glm


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [ ]:
# without weather and time

In [145]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\final version\DATASET_forNBR.csv')

In [146]:
column=['SA1_CODE21']
df=df.drop(column, axis=1)

In [147]:
df.columns

Index(['tripDensity', 'date', 'hour', 'rainfall', 'min_temp', 'trainDensity',
       'busDensity', 'tramDensity', 'Cafe perc', 'Office perc', 'Shops perc',
       'mxi', 'recreationCount', 'campusCount', 'female%', 'male%',
       'populationDensity', '5_14', '15_29', '30_39', '40_49'],
      dtype='object')

In [148]:
scale= StandardScaler()

In [149]:
df_sc= scale.fit_transform(df)
df_sc=pd.DataFrame(df_sc, columns=df.columns)

In [150]:
y=df_sc['tripDensity']
X=df_sc.drop(['tripDensity'], axis=1)

In [151]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=24)

In [158]:
nb_training_results=sm.GLM(y_train,X_train,family=sm.families.NegativeBinomial(alpha=0.981766)).fit( method='bfgs',maxiter=10000)

In [159]:
print(nb_training_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            tripDensity   No. Observations:                45830
Model:                            GLM   Df Residuals:                    45810
Model Family:        NegativeBinomial   Df Model:                           19
Link Function:                    Log   Scale:                          1.0000
Method:                          bfgs   Log-Likelihood:                -30446.
Date:                Wed, 28 Sep 2022   Deviance:                   8.1247e+05
Time:                        21:33:08   Pearson chi2:                 3.53e+04
No. Iterations:                     0   Pseudo R-squ. (CS):                nan
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
date                  0.1087      0.010     10.738      0.000       0.089       0.129
hour                  0.1437      0.010     15.050      0.000       0.125       0.162
rainfall             -0.0217      0.010     -2.127      0.033      -0.042      -0.002
min_temp             -0.0434      0.010     -4.508      0.000      -0.062      -0.025
trainDensity         -0.0051      0.009     -0.578      0.563      -0.022       0.012
busDensity           -0.0050      0.010     -0.486      0.627      -0.025       0.015
tramDensity           0.0917      0.012      7.889      0.000       0.069       0.114
Cafe perc             0.0710      0.011      6.267      0.000       0.049       0.093
Office perc           0.0178      0.009      2.100      0.036       0.001       0.035
Shops perc            0.0290      0.010      3.024      0.002       0.010       0.048
mxi                   0.0300      0.011      2.622      0.009       0.008       0.052
recreationCount      -0.0438      0.012     -3.514      0.000      -0.068      -0.019
campusCount          -0.0249      0.010     -2.435      0.015      -0.045      -0.005
female%              -0.1023      0.023     -4.406      0.000      -0.148      -0.057
male%                 0.0736      0.028      2.635      0.008       0.019       0.128
populationDensity     0.1867      0.011     17.213      0.000       0.165       0.208
5_14                 -0.3985      0.034    -11.781      0.000      -0.465      -0.332
15_29                 0.3430      0.030     11.330      0.000       0.284       0.402
30_39                -0.3189      0.043     -7.470      0.000      -0.403      -0.235
40_49                 0.5006      0.061      8.231      0.000       0.381       0.620
=====================================================================================

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:1394: RuntimeWarning: invalid value encountered in log
  ll_obs = endog * np.log(self.alpha * mu)

In [160]:
nb_prediction_test=nb_training_results.get_prediction(X_test)
nb_summary_frame_test=nb_prediction_test.summary_frame()
predicted_test_count=nb_summary_frame_test['mean']
predicted_test_count

1751     0.837196
17875    0.548386
14155    0.702179
21455    0.925057
48542    1.339913
           ...
47747    0.863307
42168    0.369961
25104    1.049062
42167    0.820481
46817    0.488738
Name: mean, Length: 11458, dtype: float64

In [161]:
print("MAE %f" %mean_absolute_error(y_test, predicted_test_count))

MAE 1.296247

In [162]:
print("MSE  %f" %mean_squared_error(y_test, predicted_test_count))

MSE  2.627030

In [163]:
import numpy as np
print("RMSE  %f" %np.sqrt(mean_squared_error(y_test, predicted_test_count)))

RMSE  1.620812

In [164]:
print("r2 test %f" %r2_score(y_test,predicted_test_count))

r2 test -1.982582

In [28]:
################# with time and weather

In [101]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\SA1\Features-trips\Final\final version\DATASET_forNBR.csv')

In [102]:
column=['SA1_CODE21']
df_depe=df.drop(column, axis=1)
df_depe

,tripDensity,date,hour,rainfall,min_temp,trainDensity,busDensity,tramDensity,Cafe perc,Office perc,...,mxi,recreationCount,campusCount,female%,male%,populationDensity,5_14,15_29,30_39,40_49
0,0,1,0,0,7.4,0.0,38.684720,19.34236,0.576336,0.022901,...,12.977099,0,0,50.488429,49.511571,7736.044263,14,209,76,29
1,0,1,1,0,7.4,0.0,38.684720,19.34236,0.576336,0.022901,...,12.977099,0,0,50.488429,49.511571,7736.044263,14,209,76,29
2,19,1,2,0,7.4,0.0,38.684720,19.34236,0.576336,0.022901,...,12.977099,0,0,50.488429,49.511571,7736.044263,14,209,76,29
3,0,1,3,0,7.4,0.0,38.684720,19.34236,0.576336,0.022901,...,12.977099,0,0,50.488429,49.511571,7736.044263,14,209,76,29
4,0,1,4,0,7.4,0.0,38.684720,19.34236,0.576336,0.022901,...,12.977099,0,0,50.488429,49.511571,7736.044263,14,209,76,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57283,0,7,19,1,8.0,0.0,46.728972,0.00000,0.803571,0.071429,...,41.071429,0,0,48.352802,51.647198,22251.752340,20,185,138,55
57284,0,7,20,1,8.0,0.0,46.728972,0.00000,0.803571,0.071429,...,41.071429,0,0,48.352802,51.647198,22251.752340,20,185,138,55
57285,0,7,21,1,8.0,0.0,46.728972,0.00000,0.803571,0.071429,...,41.071429,0,0,48.352802,51.647198,22251.752340,20,185,138,55
57286,0,7,22,1,8.0,0.0,46.728972,0.00000,0.803571,0.071429,...,41.071429,0,0,48.352802,51.647198,22251.752340,20,185,138,55
57287,0,7,23,1,8.0,0.0,46.728972,0.00000,0.803571,0.071429,...,41.071429,0,0,48.352802,51.647198,22251.752340,20,185,138,55

In [103]:
df["hour"].replace({0:1,1:1,2:1,3:2,4:2,5:2,6:3,7:3,8:3,9:4,10:4,11:4,12:5,13:5,14:5,15:6,16:6,17:6,18:7,19:7,20:7,21:8,22:8,23:8}, inplace=True)
df["date"].replace({1:1, 2: 1, 3: 1,4: 1,5: 1,6: 2,7: 2}, inplace=True)
df['trainDensity'] = df['trainDensity'].map(lambda x: 1 if x>0 else 0)
df['campusCount'] = df['campusCount'].map(lambda x: 1 if x>0 else 0)
df['recreationCount'] = df['recreationCount'].map(lambda x: 1 if x>0 else 0)
df["tripDensity"].replace({0:1}, inplace=True)

In [93]:
categorical =['hour','date','rainfall','trainDensity','campusCount','recreationCount']
for col in categorical:
    df_depe[col]=df_depe[col].astype('category')

In [94]:
df_depe.columns

Index(['date', 'hour', 'rainfall', 'min_temp', 'trainDensity', 'busDensity',
       'tramDensity', 'Cafe perc', 'Office perc', 'Shops perc', 'mxi',
       'recreationCount', 'campusCount', 'male%', 'populationDensity', '5_14',
       '15_29', '30_39', '40_49'],
      dtype='object')

In [95]:
df_depe=pd.get_dummies(df_depe, drop_first=True)

In [96]:
scale= StandardScaler()
df_sc= scale.fit_transform(df_depe)
df_sc=pd.DataFrame(df_sc, columns=df_depe.columns)

In [97]:
y=df['tripDensity']
X=df_sc

In [98]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=24)

In [99]:
nb_training_results=sm.GLM(y_train,X_train,family=sm.families.NegativeBinomial(alpha=1)).fit()

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:1342: RuntimeWarning: divide by zero encountered in true_divide
  endog_mu = self._clean(endog / mu)

In [100]:
print(nb_training_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            tripDensity   No. Observations:                45830
Model:                            GLM   Df Residuals:                    45805
Model Family:        NegativeBinomial   Df Model:                           24
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                   -inf
Date:                Wed, 28 Sep 2022   Deviance:                          inf
Time:                        11:38:56   Pearson chi2:                 7.31e+21
No. Iterations:                     4   Pseudo R-squ. (CS):               -inf
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
min_temp              1.0497      0.008    127.506      0.000       1.034       1.066
busDensity            1.8253      0.007    280.479      0.000       1.813       1.838
tramDensity          -0.2081      0.007    -31.356      0.000      -0.221      -0.195
Cafe perc             4.5937      0.007    618.628      0.000       4.579       4.608
Office perc           3.1336      0.005    628.829      0.000       3.124       3.143
Shops perc            0.5343      0.005    104.907      0.000       0.524       0.544
mxi                  -4.6510      0.007   -626.887      0.000      -4.666      -4.637
male%               122.4031      0.032   3769.692      0.000     122.339     122.467
populationDensity    25.8294      0.006   4644.600      0.000      25.818      25.840
5_14                 57.1746      0.021   2699.473      0.000      57.133      57.216
15_29               -38.5801      0.024  -1623.734      0.000     -38.627     -38.534
30_39                38.1007      0.030   1275.707      0.000      38.042      38.159
40_49              -120.0425      0.039  -3098.722      0.000    -120.118    -119.967
date_2                3.1920      0.009    357.107      0.000       3.175       3.210
hour_2               -1.8188      0.008   -220.190      0.000      -1.835      -1.803
hour_3               -0.2965      0.008    -36.350      0.000      -0.313      -0.281
hour_4                1.4802      0.008    186.035      0.000       1.465       1.496
hour_5                1.9074      0.008    238.863      0.000       1.892       1.923
hour_6                3.0816      0.008    389.568      0.000       3.066       3.097
hour_7                2.7236      0.008    342.245      0.000       2.708       2.739
hour_8                1.7961      0.008    223.743      0.000       1.780       1.812
rainfall_1           -0.5043      0.007    -71.687      0.000      -0.518      -0.491
trainDensity_1        4.2978      0.008    545.200      0.000       4.282       4.313
recreationCount_1     3.7313      0.006    599.449      0.000       3.719       3.744
campusCount_1         1.3089      0.006    227.626      0.000       1.298       1.320
=====================================================================================

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:1394: RuntimeWarning: divide by zero encountered in log
  ll_obs = endog * np.log(self.alpha * mu)